@font-face {
    font-family: "JaGui";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/jagui.ttf") format("truetype");
}

html, body {
    font-family: "Tahoma";
    font-size: 8pt;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color:#FFF;
}

body {
    filter:grayscale(0);
    transition:all ease 1s;
}
.changingTheme {
    filter:grayscale(1);
}

div, span, label, img, fieldset, svg, input, button, canvas, ::before, ::after {
    /*position: absolute;
  overflow:hidden;*/
    box-sizing: border-box;
}

/*div,
span,
label,
img,
svg,
input,
button,
canvas {
  padding:0;
}*/

.desktop, body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
}

.JAGUI {
    bottom: 8px;
    height: 15px;
    position: absolute;
    right: 34px;
    width: 42px;
    z-index: 99999999;
    background-repeat: no-repeat;
}

.JAGUI:after {
    color: #E0E0E0;
    content: "D";
    font-family: JaGui;
    font-size: 30pt;
    height: 0;
    line-height: 0;
    padding-left: 20px;
    position: absolute;
    width: 0;
    top:5px;
}

#jaguiClipboard {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    display: none;
    font-family: Consolas;
    height: 50px;
    left: 0;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 1px;
    position: absolute;
    resize: none;
    top: 0;
    width: 100px;
    z-index: -99999;
}

.logo {
    background-image: url(../images/logo.png);
}

/*.rotateAnimation{
  -moz-animation-name: spin;
  -moz-animation-duration: 5000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 5000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}*/

/*Adding this CSS will disable the black flashing when tapping the canvas on iOS browser.

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}*/

object.window {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    margin: 0;
}

properties, .properties {
    display: none;
}

#snapArea {
    left: 50%;
    top: 0;
    right: 50%;
    bottom: 100%;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: inset 0 0 1px 0 #FFF, 0 0 16px 0 #000;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.25s ease-in-out;
    position: absolute;
}

#snapArea.top {
    left: 8px !important;
    top: 8px !important;
    right: 8px !important;
    bottom: 8px !important;
}

#snapArea.left {
    left: 8px !important;
    top: 8px !important;
    right: 50% !important;
    bottom: 8px !important;
}

#snapArea.right {
    right: 8px !important;
    top: 8px !important;
    left: 50% !important;
    bottom: 8px !important;
}