@import url(../common/buttonglyph.css);
.BitmapButton {
    overflow: hidden;
    white-space: nowrap;
}

.BitmapButtonCaption {
    margin: 0;
    overflow: hidden;
    text-align: center;
    transform: none;
}
