/*@import url(../common/button.css);*/
.Button.CornerButtonCaption {
    border: none !important;
    border-radius: 0 !important;
    position: relative;
    width: 100%;
    height: 100%;
}

.CornerButtonSvg {
    position: absolute;
}

.CornerButtonClipPath {
    fill: none;
    stroke-width: 2;
}
