.Button.CornerButton {
    border: none !important;
    border-radius: 0 !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.CornerButtonSvg {
    position: absolute;
}

.CornerButtonClipPath {
    fill:none;
    stroke-width:2;
}