div.ImageViewerViewPort {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

div.ImageViewer div.ImageViewerContent {
    min-width: 0;
    min-height: 0;
    position: relative;
    transform-origin: top left;
}
