.LabeledTextBox {
    display: flex;
    align-items: center;
}

.LabeledTextBox .TextBox {
    position: relative;
    flex: 1;
}

.LabeledTextBox .Label {
    position: static;
    white-space: nowrap;
}
