.LabeledSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: visible;
}

.LabeledSlider .Slider {
    position: relative;
    flex: 1;
    margin: 0 5px;
}

.LabeledSlider .Label {
    position: static;
    white-space: nowrap;
}

.LabeledSlider .ValueLabel {
    width: 16%;
    position: static;
    white-space: nowrap;
    text-align: center;
    margin-left: 5px;
}
