/*@import url(../common/label.css);
@import url(../extended/imagecontrol.css);*/
.LabeledImage {
    height: 60px;
    display: flex;
    overflow:visible;
}

.LabeledImage .ImageControl {
    position: relative;
    flex: 1;
}

.LabeledImage .Label {
    position: static;
    white-space: nowrap;
}
