@import url(../common/label.css);
@import url(../color/dropdownlistboxcolor.css);
.LabeledDropDownListBoxColor .DropDownListBoxColor {
    position: relative;
    flex: 1;
}

.LabeledDropDownListBoxColor .Label {
    position: static;
    white-space: nowrap;
}
