@import url(../common/label.css);
@import url(../common/slider.css);
@import url(../extended/valuelabel.css);
.LabeledSlider .GridLayout {
    flex: 1;
    position: relative;
}

.LabeledSlider .Slider {
    position: relative;
    flex: 1;
}

.LabeledSlider .Label {
    position: static;
    white-space: nowrap;
}

.LabeledSlider .ValueLabel {
    position: static;
    white-space: nowrap;
    text-align: center;
}
