div.LabeledSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

div.LabeledSlider div.Slider {
    position: relative;
    flex: 1;
}

div.LabeledSlider label.Label {
    position: static;
    white-space: nowrap;
}

div.LabeledSlider label.ValueLabel {
    width: 16%;
    position: static;
    white-space: nowrap;
    text-align: center;
    margin-left: 5px;
}
