/*@import url(../common/label.css);
@import url(../extended/anglebutton.css);
@import url(../extended/valuelabel.css);*/
.LabeledAngleBar {
    display:flex;
    overflow:visible;
}

.LabeledAngleBar .GridLayout {
    flex: 1;
    position: relative;
}

.LabeledAngleBar .AngleButton {
    position: relative;
    width: 22px;
    height: 22px;
    margin: auto;
}

.LabeledAngleBar .Label {
    position: static;
    white-space: nowrap;
}

.LabeledAngleBar .ValueLabel {
    position: static;
    white-space: nowrap;
    text-align: center;
}
