.LabeledColorButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: visible;
}

.LabeledColorButton .ColorButton {
    position: relative;
    height: 100%;
    flex: 1;
}

.LabeledColorButton .Label {
    position: static;
    white-space: nowrap;
}
