@import url(../common/label.css);
@import url(../color/colorbutton.css);
.LabeledColorButton {
    display:flex;
    overflow:visible;
}

.LabeledColorButton .ColorButton {
    position: relative;
    flex: 1;
}

.LabeledColorButton .Label {
    position: static;
    white-space: nowrap;
}
