/*@import url(../common/label.css);
@import url(../common/memo.css);*/
.LabeledMemo {
    display:flex;
    overflow:visible;
}

.LabeledMemo .Memo {
    position: relative;
    height: 100% !important;
    flex: 1;
}

.LabeledMemo .Label {
    position: static;
    white-space: nowrap;
}
