.Control.PathCheckbox {
    box-shadow: none;
    padding-left: 20px;
    overflow: visible;
    display: flex;
    align-items: center;
}

input.PathCheckboxInput {
    display: none;
}

.PathCheckboxCheck {
    box-shadow: none;
    left: 0;
    font-family: jagui;
}
