@import url(../common/checkbox.css);
.PathCheckbox {
    box-shadow: none;
    overflow: visible;
    display: flex;
    align-items: center;
}

.PathCheckbox svg {
    position: relative;
}

.PathCheckboxInput {
    display: none;
}

.PathCheckboxCheck {
    box-shadow: none;
    left: 0;
    font-family: jagui;
    margin-right: 5px;
}
