/*@import url(../common/button.css);*/
.PathButton {
    overflow: hidden;
    white-space: nowrap;
}

.PathButtonCaption {
    margin: 0;
    overflow: hidden;
    text-align: center;
    transform: none;
}
