.Control.SplitButton {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .Control.SplitButton > * {
        position: relative;
    }

    .Control.SplitButton .BitmapButton {
        flex: 1;
        width: auto !important;
    }

    .Control.SplitButton .BitmapButton,
    .Control.SplitButton .PopupButton {
        position: relative;
        height: auto !important;
    }

    .Control.SplitButton .PopupButton {
        border-left: none;
        width: 14px !important;
    }

    .Control.SplitButton .PopupButtonArrow {
        right: 3px;
    }
