@import url(../common/button.css);
.SplitButton {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .SplitButton > * {
        position: relative;
    }

    .SplitButton .BitmapButton {
        flex: 1;
        width: auto !important;
    }

    .SplitButton .BitmapButton,
    .SplitButton .PopupButton {
        position: relative;
        height: auto !important;
    }

    .SplitButton .PopupButton {
        border-left: none;
        width: 14px !important;
    }

    .SplitButton .PopupButtonArrow {
        right: 3px;
    }
