.Control.TextBoxBtnButton {
    position: relative;
    width: 20px !important;
    order: 2;
}

    /*.Control.TextBoxBtnButton:before {
        content: "…";
    }*/

/*.Control.TextBoxBtnInput {
    position: static;
    flex: 1;
    order: 1;
}*/
