input.TextBoxClearBtnInput {
}

button.TextBoxClearBtnButton {
    width: 20px;
    position: relative;
}

div.TextBoxClearBtn[data-length="0"] button.TextBoxClearBtnButton {
    display: none;
}

div.TextBoxClearBtn[data-length="0"] input.TextBoxClearBtnInput {
}
