.Control.Toggle {
    overflow: hidden;
    white-space: nowrap;
}

    .Control.Toggle:before,
    .Control.Toggle:after {
        content: attr(data-checked);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 0;
        overflow: hidden;
    }

    .Control.Toggle:after {
        content: attr(data-unchecked);
        left: 50%;
    }

    .Control.Toggle .Control.CheckboxCheck {
        width: 52%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        max-width: none;
        height: auto;
        transition: ease left 0.5s;
        z-index: 1;
    }

        .Control.Toggle .Control.CheckboxCheck.checked {
            left: 49%;
        }

            .Control.Toggle .Control.CheckboxCheck.checked:before,
            .Control.Toggle .Control.CheckboxCheck.grayed:before {
                content: "";
            }
