@import url(../common/checkbox.css);
.Toggle {
    overflow: hidden;
    white-space: nowrap;
}

    .Toggle:before,
    .Toggle:after {
        content: attr(data-checked);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 0;
        overflow: hidden;
    }

    .Toggle:after {
        content: attr(data-unchecked);
        left: 50%;
    }

.ToggleCheck {
    width: 52%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    max-width: none;
    height: auto;
    transition: ease left 0.5s;
    z-index: 1;
}

    .ToggleCheck.checked {
        left: 49%;
    }

        .ToggleCheck.checked:before,
        .ToggleCheck.grayed:before {
            content: "";
        }

.ToggleInput {
    display: none;
}
