@import url(/css/components/dialogs/colorDialog.css);

.neumorphiclight.ColorDlg .neumorphiclight.TabSheet.selected {
    height: 17px;
    margin-top: 3px;
    padding-top: 0;
    color: #303030;
    background-image: none;
    background-color: #F69E2D;
}

.neumorphiclight.ColorDlg .neumorphiclight.TabControl.focused .neumorphiclight.Tab.selected {
    color: #303030;
}

.neumorphiclight.ColorDlg .neumorphiclight.TabSheet {
    padding-top: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.neumorphiclight.ColorDlg .neumorphiclight.Tab.selected {
    border-bottom: 1px solid #303030;
}

.neumorphiclight.ColorDlg .neumorphiclight.TabSheet:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.neumorphiclight.ColorDlg .neumorphiclight.TabSheet:not(:first-child):not(:last-child) {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.neumorphiclight.ColorDlg .neumorphiclight.TabSheet:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}