@import url(../../../../css/components/color/dropdownlistboxcolor.css);
@import url(../common/dropdownlistbox.css);
.carbon.ListBoxItemColor {
    border-radius: 3px;
}

.carbon.ListBoxItemColor.disabled:hover {
    background-color: transparent;
}

.carbon.ListBoxItemColor:hover,
.carbon.ListBoxItemColor.selected {
    background-color: #936639;
}
