.air.Memo {
    border: 1px solid #393939;
    background-color: #191919;
}

.air.MemoViewPort,
.air.MemoViewPort textarea {
    background-color: #191919;
}

.air.Memo.focused {
    box-shadow: 0 0 6px 2px #65C8E0;
}
