.carbon.CheckboxCheck {
  border: 1px solid #202020;
  border-radius: 2px;
  background-image: linear-gradient(to bottom,#606060 0,#303030 100%);
  max-width: 15px;
  width: 15px;
  height: 15px;
  color: #F5AB28;
  padding-left: 1px;
  padding-top: 1px;
  box-shadow:none;
}

.carbon.CheckboxCheck.checked:before,
.carbon.CheckboxCheck.grayed:before {
  position:absolute;
  left:0;
  top:0;
  content:"4";
  right: 0;
  bottom: 0;
  padding:1px 0 0 1px;
  line-height:12px;
}

.carbon.CheckboxCheck.grayed:before {
  content:"[";
  font-size: 6.5pt;
  padding-left: 2px;
}

.carbon.Checkbox.focused .CheckboxCheck {
  box-shadow: 0 0 6px #F69E2D;
}