@import url(/css/components/common/checkbox.css);

.neumorphiclight.CheckboxCheck {
    border: 1px solid #202020;
    border-radius: 2px;
    background-image: linear-gradient(to bottom,#606060 0,#303030 100%);
    max-width: 15px;
    width: 15px;
    height: 15px;
    color: #F5AB28;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.neumorphiclight.CheckboxCheck.checked:before,
.neumorphiclight.CheckboxCheck.grayed:before {
    content: "4";
}

.neumorphiclight.CheckboxCheck.grayed:before {
    content: "[";
    font-size: 6pt;
}

.neumorphiclight.Checkbox.focused .CheckboxCheck {
    box-shadow: 0 0 6px #F69E2D;
}
