@import url(../../../../css/components/common/clock.css);

.neumorphiclight.Clock {
    --icon-color: #E0E0E0;
    background-color: #404040;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #303030;
}

    .neumorphiclight.Clock.led {
        --icon-color: #F5AB28;
        --led-color: #F5AB28;
    }

.neumorphiclight.Clock_alarm {
    border: solid 2px var(--icon-color);
}

    .neumorphiclight.Clock_alarm:before {
        border-left: solid 2px var(--icon-color);
        border-top: solid 2px var(--icon-color);
    }

    .neumorphiclight.Clock_alarm:after {
        border-top: solid 2px var(--icon-color);
        border-right: solid 2px var(--icon-color);
    }

.neumorphiclight.Clock_alarm_inner {
    border-left: solid 1px var(--icon-color);
    border-bottom: solid 1px var(--icon-color);
}

.neumorphiclight.Clock_alarm_inner:before,
    .neumorphiclight.Clock_alarm_inner:after,
    .neumorphiclight.Clock_dots:before,
    .neumorphiclight.Clock_dots:after,
    .neumorphiclight.Clock_digit_d1,
    .neumorphiclight.Clock_digit_d2,
    .neumorphiclight.Clock_digit_d3,
    .neumorphiclight.Clock_digit_d4,
    .neumorphiclight.Clock_digit_d5,
    .neumorphiclight.Clock_digit_d6,
    .neumorphiclight.Clock_digit_d7 {
        background-color: var(--icon-color);
    }


.neumorphiclight.Clock_snooze {
    color: var(--icon-color);
}

.neumorphiclight.Clock.led .Clock_dots:before,
.neumorphiclight.Clock.led .Clock_dots:after,
.neumorphiclight.Clock.led .Clock_digit_d1,
.neumorphiclight.Clock.led .Clock_digit_d2,
.neumorphiclight.Clock.led .Clock_digit_d3,
.neumorphiclight.Clock.led .Clock_digit_d4,
.neumorphiclight.Clock.led .Clock_digit_d5,
.neumorphiclight.Clock.led .Clock_digit_d6,
.neumorphiclight.Clock.led .Clock_digit_d7 {
    background: var(--led-color);
}


.neumorphiclight.Clock.led .Clock_meridian,
.neumorphiclight.Clock.led .Clock_weekdays {
    color: var(--led-color);
}

.neumorphiclight.Clock.flip .neumorphiclight.Clock_digit {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.neumorphiclight.Clock_digit_flip_up:after {
    background-color: rgba(0,0,0,0.4);
}

.neumorphiclight.Clock_digit_flip_inn {
    text-shadow: 0 1px 2px #000;
    background-color: #333;
}

.neumorphiclight.Clock_dot {
    background-color: var(--icon-color);
}

.neumorphiclight.Clock.circular .neumorphiclight.Clock_digit {
    border: 1px solid #303030;
}

.neumorphiclight.Clock.circular .neumorphiclight.Clock_digit:after {
    border: 1px solid #303030;
}

.neumorphiclight.ClockDigit_Circular_back {
    stroke: #4A4A4A;
    fill: transparent;
    stroke-width: 8px;
}

.neumorphiclight.ClockDigit_Circular_progress {
    stroke: #B48625;
}