@import url(/css/components/common/gridView.css);

.neumorphiclight.GridView {
    border: 1px solid #303030;
    border-radius: 3px;
    background-color: #404040;
}

.neumorphiclight.GridViewContent {
    border: 1px solid #222;
    border-radius: 2px;
}

.neumorphiclight.GridViewViewPort {
    background-color: #404040;
}

.neumorphiclight.GridViewHeader.GridViewRowLine {
    border-bottom: 1px solid #222;
}

.neumorphiclight.GridViewHeader,
.neumorphiclight.GridViewRowIndic {
    background-image: linear-gradient(to bottom,#505050 0,#303030 100%);
}

.neumorphiclight.GridViewRowLine {
    border-bottom: 1px solid #222;
}
