@import url(/css/components/common/listBox.css);

.neumorphiclight.ListBoxItem .CheckboxCheck {
    position: relative;
    margin-right: 2px;
}

.neumorphiclight.ListBox {
    border: 1px solid #303030;
    border-radius: 2px;
    background-color: #404040;
}

.neumorphiclight.ListBoxItem {
    border-radius: 3px;
}

.ListBoxItem.alternate {
    background-color: rgba(0,0,0,0.2);
}

.neumorphiclight.ListBoxItem.isheader,
.neumorphiclight.PopupListBox .neumorphiclight.ListBoxItemPopup.isheader {
    background-color: #F9DDA2;
    color: #404040;
    font-style: italic;
}

.neumorphiclight.ListBox .neumorphiclight.ListBoxItem.selected,
.neumorphiclight.ListBox.useAlternateColor .neumorphiclight.ListBoxItem.selected {
    background-color: #936639;
}

.neumorphiclight.ListBox.focused {
    box-shadow: 0 0 6px #F69E2D;
}
