@import url(/css/components/common/progressBar.css);

.neumorphiclight.ProgressBar {
}

.neumorphiclight.ProgressBar.orientation-horizontal {
    border: 1px solid #303030;
    background-image: linear-gradient(to bottom,#303030 0,#606060 100%);
}

.neumorphiclight.ProgressBar.orientation-vertical {
    border: 1px solid #303030;
    background-image: linear-gradient(to right,#303030 0,#606060 100%);
}

.neumorphiclight.ProgressBarProgress {
}

.neumorphiclight.ProgressBarProgress.orientation-horizontal {
    background-image: linear-gradient(to bottom,#F5CD76 0,#9F7009 100%);
}

.neumorphiclight.ProgressBarProgress.orientation-vertical {
    background-image: linear-gradient(to right,#F5CD76 0,#9F7009 100%);
}

.neumorphiclight.ProgressBarIndic {
}

.neumorphiclight.ProgressBarIndic.orientation-horizontal {
    background-image: linear-gradient(to right,rgba(255,255,255,0) 0, rgba(241,211,132,0.7),rgba(255,255,255,0) 100%);
    border-radius: 9px;
}

.neumorphiclight.ProgressBarIndic.orientation-vertical {
    background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0, rgba(241,211,132,0.7),rgba(255,255,255,0) 100%);
    border-radius: 9px;
}
