@import url(/css/components/common/spinBox.css);

.neumorphiclight.SpinBox {
    border: 1px solid #202020;
    border-radius: 12px;
    background-color: #333;
    text-align: center;
}

.neumorphiclight.SpinBoxMinusBtn,
.neumorphiclight.SpinBoxPlusBtn,
.neumorphiclight.SpinBoxMinusBtn.disabled,
.neumorphiclight.SpinBoxPlusBtn.disabled,
.neumorphiclight.SpinBoxMinusBtn.disabled:hover,
.neumorphiclight.SpinBoxPlusBtn.disabled:hover {
    border-radius: 50%;
    background: none;
    border: none;
}

.neumorphiclight.SpinBoxMinusBtn:hover,
.neumorphiclight.SpinBoxPlusBtn:hover {
    background: none;
    background-color: #707070;
    opacity: 0.7;
}

.neumorphiclight.SpinBoxMinusBtn:before {
    content: "*";
}

.neumorphiclight.SpinBoxPlusBtn:before {
    content: ")";
}
