@import url(/css/components/common/timePanel.css);

.neumorphiclight.TimePanel {
    background-color: #333;
    border: 1px solid #303030;
}

.neumorphiclight.TimePanel.focused {
    box-shadow: 0 0 6px #F69E2D;
}

.neumorphiclight.TimePanel.focused .TimePanel_Hours.focused,
.neumorphiclight.TimePanel.focused .TimePanel_Minutes.focused,
.neumorphiclight.TimePanel.focused .TimePanel_Seconds.focused,
.neumorphiclight.TimePanel.focused .TimePanel_Meridiem.focused {
    box-shadow: none;
}

.neumorphiclight.TimePanel.focused .TimePanel_Hours.focused .ItemsWheelContent .ItemsWheelItem,
.neumorphiclight.TimePanel.focused .TimePanel_Minutes.focused .ItemsWheelContent .ItemsWheelItem,
.neumorphiclight.TimePanel.focused .TimePanel_Seconds.focused .ItemsWheelContent .ItemsWheelItem,
.neumorphiclight.TimePanel.focused .TimePanel_Meridiem.focused .ItemsWheelContent .ItemsWheelItem {
    color: #F69E2D;
}
