@import url(/css/components/common/treeView.css);

.neumorphiclight.TreeViewItem .CheckboxCheck {
    position: relative;
    margin-right: 2px;
    float: left;
}

.neumorphiclight.TreeView {
    border: 1px solid #303030;
    border-radius: 2px;
    background-color: #404040;
}

.neumorphiclight.TreeViewItem {
    border-radius: 3px;
}

.neumorphiclight.TreeViewItem.selected {
    background-color: #936639;
}

.neumorphiclight.TreeView.focused {
    box-shadow: 0 0 6px #F69E2D;
}

/*.neumorphiclight.TreeViewItem .Checkbox {
    margin-left: 19px;
    padding-left: 0;
}*/

.neumorphiclight.TreeViewItem .TreeViewRoot.TVIHasChild.expanded:before {
    color: #000;
    content: "7";
}

.neumorphiclight.TreeViewItem .TreeViewRoot.TVIHasChild:before {
    color: #000;
    content: ")";
}
