.carbon.Clock {
    --icon-color: #E0E0E0;
    background-color: #404040;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #303030;
}

.carbon.Clock_alarm {
    border: solid 2px;
}

    .carbon.Clock_alarm:before {
        border-left: solid 2px var(--icon-color);
        border-top: solid 2px var(--icon-color);
    }

    .carbon.Clock_alarm:after {
        border-top: solid 2px var(--icon-color);
        border-right: solid 2px var(--icon-color);
    }

.carbon.Clock_alarm_inner {
    border-left: solid 2px var(--icon-color);
    border-bottom: solid 2px var(--icon-color);
}


    .carbon.Clock_alarm_inner:before,
    .carbon.Clock_alarm_inner:after,
    .carbon.Clock_dots:before,
    .carbon.Clock_dots:after,
    .carbon.Clock_digit_d1,
    .carbon.Clock_digit_d2,
    .carbon.Clock_digit_d3,
    .carbon.Clock_digit_d4,
    .carbon.Clock_digit_d5,
    .carbon.Clock_digit_d6,
    .carbon.Clock_digit_d7 {
        background-color: var(--icon-color);
    }
