.carbon.ListBox {
    border: 1px solid #303030;
    border-radius: 2px;
    background-color: #404040;
}

.carbon.ListBoxItem {
    border-radius: 3px;
}

.ListBoxItem.alternate {
    background-color: rgba(0,0,0,0.2);
}

.carbon.ListBoxItem.isheader,
.carbon.PopupListBox .carbon.ListBoxItemPopup.isheader {
    background-color: #F9DDA2;
    color: #404040;
    font-style: italic;
}

.carbon.ListBox .carbon.ListBoxItem.selected,
.carbon.ListBox.useAlternateColor .carbon.ListBoxItem.selected {
    background-color: #936639;
}

.carbon.ListBox.focused {
    box-shadow: 0 0 6px #F69E2D;
}
