/*@import url(../../../../css/components/common/passwordtextbox.css);
@import url(textbox.css);*/
.carbon.Button.PasswordTextBoxButton {
    border: none;
    background: none;
    font-family: jagui;
    font-size: 13pt;
}
