/*@import url(../../../../css/components/common/spinbox.css);
@import url(textbox.css);
@import url(button.css);*/
.carbon.SpinBox {
    border: 1px solid #202020;
    border-radius: 12px;
    background-color: #333;
    text-align: center;
}

.carbon.Button.SpinBoxMinusBtn,
.carbon.Button.SpinBoxPlusBtn,
.carbon.Button.SpinBoxMinusBtn.disabled,
.carbon.Button.SpinBoxPlusBtn.disabled,
.carbon.Button.SpinBoxMinusBtn.disabled:hover,
.carbon.Button.SpinBoxPlusBtn.disabled:hover {
    border-radius: 50%;
    background: none;
    border: none;
}

.carbon.Button.SpinBoxMinusBtn:hover,
.carbon.Button.SpinBoxPlusBtn:hover {
    background: none;
    background-color: #707070;
    opacity: 0.7;
}

.carbon.Button.SpinBoxMinusBtn:before {
    content: "*";
}

.carbon.Button.SpinBoxPlusBtn:before {
    content: ")";
}
