@import url(../../../../css/components/common/spinbox.css);
@import url(textbox.css);
@import url(button.css);
.carbon.SpinBox {
    border: 1px solid #202020;
    border-radius: 12px;
    background-color: #333;
    text-align: center;
}

.carbon.SpinBoxMinusBtn,
.carbon.SpinBoxPlusBtn,
.carbon.SpinBoxMinusBtn.disabled,
.carbon.SpinBoxPlusBtn.disabled,
.carbon.SpinBoxMinusBtn.disabled:hover,
.carbon.SpinBoxPlusBtn.disabled:hover {
    border-radius: 50%;
    background: none;
    border: none;
}

.carbon.SpinBoxMinusBtn:hover,
.carbon.SpinBoxPlusBtn:hover {
    background: none;
    background-color: #707070;
    opacity: 0.7;
}

.carbon.SpinBoxMinusBtn:before {
    content: "*";
}

.carbon.SpinBoxPlusBtn:before {
    content: ")";
}
