@import url(../../../../css/components/common/textbox.css);
.carbon.TextBox {
    border: 1px solid #202020;
    background-color: #333;
    border-radius: 2px;
}

.carbon.TextBox.focused {
    box-shadow: 0 0 6px #F69E2D;
}
