/*.colorDlgClrQuad {
    left: 17px;
    top: 17px;
    width: 234px;
    height: 234px;
}

.colorDlgClrPicker {
    left: 260px;
    top: 17px;
    width: 20px;
    height: 234px;
}

.colorDlgLblCurColor {
    left: 300px;
    top: 21px;
}

.colorDlgLblNewColor {
    left: 429px;
    top: 21px;
}

.colorDlgClrBoxCurColor {
    left: 300px;
    top: 36px;
    width: 123px;
    height: 21px;
}

.colorDlgClrBoxNewColor {
    left: 428px;
    top: 36px;
    width: 123px;
    height: 21px;
}

#colorDlgBtnContainer {
    left: 363px;
    height: 25px;
    width: 120px;
    z-index: 1;
    top: 67px;
}

.colorDlgPnlRGB,
.colorDlgPnlHSL,
.colorDlgPnlHSV {
    left: 295px;
    top: 79px;
    width: 256px;
    height: 108px;
}

.colorDlgLblRed {
    left: 13px;
    top: 23px;
}

.colorDlgSlrRed {
    left: 90px;
    top: 23px;
    width: 93px;
}

.colorDlgTxtbRed {
    left: 200px;
    top: 18px;
    width: 30px;
    height: 23px;
}

.colorDlgLblGreen {
    left: 13px;
    top: 50px;
}

.colorDlgSlrGreen {
    left: 90px;
    top: 50px;
    width: 93px;
}

.colorDlgTxtbGreen {
    left: 200px;
    top: 45px;
    width: 30px;
    height: 23px;
}

.colorDlgLblBlue {
    left: 13px;
    top: 77px;
}

.colorDlgSlrBlue {
    left: 90px;
    top: 77px;
    width: 93px;
}

.colorDlgTxtbBlue {
    left: 200px;
    top: 72px;
    width: 30px;
    height: 23px;
}

.colorDlgLblHue {
    left: 13px;
    top: 23px;
}

.colorDlgSlrHue {
    left: 90px;
    top: 23px;
    width: 93px;
}

.colorDlgTxtbHSLHue {
    left: 200px;
    top: 18px;
    width: 30px;
    height: 23px;
}

.colorDlgLblHSLHue {
    left: 236px;
    top: 23px;
}

.colorDlgLblSat {
    left: 13px;
    top: 50px;
}

.colorDlgSlrSat {
    left: 90px;
    top: 50px;
    width: 93px;
}

.colorDlgTxtbHSLSat {
    left: 200px;
    top: 45px;
    width: 30px;
    height: 23px;
}

.colorDlgLblHSLSat {
    left: 236px;
    top: 50px;
}

.colorDlgLblLight {
    left: 13px;
    top: 77px;
}

.colorDlgSlrLight {
    left: 90px;
    top: 77px;
    width: 93px;
}

.colorDlgTxtbLight {
    left: 200px;
    top: 72px;
    width: 30px;
    height: 23px;
}

.colorDlgLblHSLLight {
    left: 236px;
    top: 77px;
}

.colorDlgLblHSVHue {
    left: 13px;
    top: 23px;
}

.colorDlgSlrHSVHue {
    left: 90px;
    top: 23px;
    width: 93px;
}

.colorDlgTxtbHSVHue {
    left: 200px;
    top: 18px;
    width: 30px;
    height: 23px;
}

.colorDlgLblHSVHueDeg {
    left: 236px;
    top: 23px;
}

.colorDlgLblHSVSat {
    left: 13px;
    top: 50px;
}

.colorDlgSlrHVSSat {
    left: 90px;
    top: 50px;
    width: 93px;
}

.colorDlgTxtbHSVSat {
    left: 200px;
    top: 45px;
    width: 30px;
    height: 23px;
}

.colorDlgLblHSVSatPer {
    left: 236px;
    top: 50px;
}

.colorDlgLblValue {
    left: 13px;
    top: 77px;
}

.colorDlgSlrValue {
    left: 90px;
    top: 77px;
    width: 93px;
}

.colorDlgTxtbValue {
    left: 200px;
    top: 72px;
    width: 30px;
    height: 23px;
}

.colorDlgLblValuePer {
    left: 236px;
    top: 77px;
}

.colorDlgLblOpacity {
    left: 310px;
    top: 195px;
}

.colorDlgSlrOpacity {
    left: 387px;
    top: 195px;
    width: 93px;
}

.colorDlgTxtbOpacity {
    left: 489px;
    top: 190px;
    width: 30px;
    height: 23px;
}

.colorDlgLblOpacityPer {
    left: 533px;
    top: 195px;
}

.colorDlgTxtbHex {
    left: 310px;
    top: 227px;
    width: 52px;
    height: 23px;
}

.colorDlgBtnCancel {
    left: 482px;
    top: 226px;
    width: 71px;
    height: 25px;
}
*/