@import url(commondialog.css);
@import url(../common/dropdownlistbox.css);
@import url(../color/dropdownlistboxcolor.css);
@import url(../common/checkbox.css);
@import url(../containers/groupbox.css);
@import url(../common/label.css);
.FontDlg fieldset.GroupBox {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.FontDlg legend {
    margin-left: -5px;
    padding: 0 5px 0 0;
}
