@import url(../../../../css/components/toolbars/toolbutton.css);

.neumorphiclight.ToolButton,
.neumorphiclight.ToolButton.disabled:hover {
    outline: none;
    background: none;
    border: none;
}

.neumorphiclight.ToolButton:hover {
    outline: 1px solid rgba(246,158,45,0.9);
    outline-offset: -1px;
}

.neumorphiclight.ToolButton:hover .ToolButtonCaption {
    text-shadow: 0 0 8px rgba(246,158,45,0.9);
}

.neumorphiclight.ToolButtonCaption {
    text-shadow: none;
}

.neumorphiclight.ToolButton:hover img {
    filter: drop-shadow(0 0 4px rgba(246,158,45,0.9));
    /*filter: url(../shadow.svg#drop-shadow);*/
}

.neumorphiclight.ToolButton img,
.neumorphiclight.ToolButton.disabled:hover img {
    -webkit-filter: none;
    filter: none;
    -ms-filter: none;
    filter: none;
}

.neumorphiclight.ToolButtonSep {
    background-color: #303030;
    height: calc(100% - 4px);
    margin: 2px;
    width: 1px;
}
