@import url(../extended/splitbutton.css);
.SplitToolButton {
    overflow: hidden;
    position: relative;
    width: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .SplitToolButton .BitmapButton {
        flex: 1;
        width: auto !important;
    }

    .SplitToolButton .PopupButton {
        width: 14px !important;
        border-left: none;
    }

    .SplitToolButton .BitmapButton,
    .SplitToolButton .PopupButton {
        position: relative;
        height: auto !important;
    }

    .SplitToolButton img {
        max-height: 16px;
        max-width: 16px;
    }
