.SplitToolButton {
    overflow: hidden;
    position: relative;
    width: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.SplitToolButton .BitmapButton {
    flex: 1;
}

.SplitToolButton .PopupButton {
    width: 14px;
    border-left: none;
}

.SplitToolButton .BitmapButton,
.SplitToolButton .PopupButton {
    position: relative;
}

.SplitToolButton img {
    max-height: 16px;
    max-width: 16px;
}