.StatusBar {
    z-index: 9;
    position: relative;
    order: 5;
    display: flex;
}

.StatusBarPanel {
    padding: 0 2px;
    line-height: 15px;
    margin: 1px;
}

.StatusBarPanel:last-of-type {
    flex:1;
}

.StatusBarSimplePanel {
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    padding-left: 2px;
}

.StatusBarSizer {
    position:absolute;
    background-repeat: no-repeat;
    z-index: 1;
}
