.Control.ToolButton,
.Control.ToolButtonSep {
    overflow: hidden;
    position: relative;
    width: 23px;
}

.Control.ToolButtonSep {
    width: 0;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
}

.Control.ToolButton img {
    background-repeat: no-repeat;
}

.ToolButtonCaption {
    transform: none;
}