.carbon.ItemsWheel {
    border: 1px solid #222222;
    background-color: #404040;
}

.carbon.ItemsWheelSep {
    background-color: #6F6F6F;
}

.carbon.ItemsWheelContent {
    border-left: 1px solid #6F6F6F;
    border-right: 1px solid #6F6F6F;
}

.carbon.NumberWheel.focused {
    box-shadow: 0 0 6px #F69E2D;
}

.carbon.PopupBox {
    background-image: linear-gradient(to bottom,#404040 0,#404040 70%,#303030 100%);
}

.carbon.ToolTip {
    box-shadow: rgba(0,0,0,0.5) 3px 3px 3px;
    border-radius: 3px;
    padding: 2px;
    border: 1px solid #303030;
    background-image: linear-gradient(to bottom,#F5CD76 0,#9F7009 100%);
    z-index: 999999;
    color: #000;
}

.carbon.TabControlLeftBtn:before,
.carbon.TabControlRightBtn:before {
    font-family: Jagui;
    font-size: 4pt;
}

.carbon.TabControlLeftBtn:before {
    content: "*";
}

.carbon.TabControlRightBtn:before {
    content: ")";
}