@import url(../../../../css/components/extras/propertygrid.css);

.neumorphiclight.PropertyGrid > .PropertyGridContent {
    background-color: #404040;
    color: #E0E0E0;
}

.neumorphiclight.PropertyGrid {
    border: 1px solid #303030;
    border-radius: 2px;
    background-color: #404040;
}

.neumorphiclight.PropertyGrid > .PropertyGridContent > .PropertyGridLeftContent {
    border-right: 1px solid #6D6D6D;
}

.neumorphiclight.PropertyGrid > .PropertyGridContent > .PropertyGridRightContent {
    border-left: 1px solid #303030;
}

.neumorphiclight.PropertyGrid > .PropertyGridContent .PropertyGridItem {
    color: #E0E0E0;
    border-radius: 3px;
    overflow: hidden;
    border-radius: 0;
}

.neumorphiclight.PropertyGrid.focused {
    box-shadow: 0 0 6px #F69E2D;
}

.neumorphiclight.PropertyGrid > .PropertyGridContent > .PropertyGridLeftContent .PropertyGridItem.selected {
    background-color: #F69F2D;
}

.neumorphiclight.PropertyGrid > .PropertyGridContent > .PropertyGridLeftContent .PropertyGridItem.selected span {
    color: #000;
}

.neumorphiclight.PropertyGrid > .PropertyGridContent > .PropertyGridLeftContent .PropertyGridItem > .sep {
    background-color: #505050;
}

.neumorphiclight.PropertyGrid > .PropertyGridContent > .PropertyGridLeftContent .PropertyGridItem.selected:not(.TVIHasChild) > div.sep:last-of-type:before {
    color: #F69F2D;
}

.neumorphiclight.PropertyGrid > .PropertyGridContent > .PropertyGridLeftContent .PropertyGridItem.grid {
    border-bottom: 1px dotted #808080;
}

.neumorphiclight.PropertyGrid > .PropertyGridContent > .PropertyGridRightContent .PropertyGridItem.grid {
    border-bottom: 1px dotted #808080;
}

.neumorphiclight.PropertyGrid > .PropertyGridInfo {
    background-color: #404040;
    border-top: 1px solid #303030;
    color: #E0E0E0;
}
