@import url(../../../../css/components/toobars/statusbar.css);
.carbon.StatusBar {
    left: 0;
    height: 19px;
    border-top: 1px solid #222;
    background-image: linear-gradient(to bottom,#3D3D3D 50%,#303030 100%);
}

.carbon.StatusBarPanel.lowered {
    border: 1px solid #222;
    border-bottom-color: #606060;
    border-right-color: #606060;
}

.carbon.StatusBarPanel.raised {
    border: 1px solid #222;
    border-top-color: #606060;
    border-left-color: #606060;
}

.carbon.StatusBarPanel.single {
    border-left: 1px solid #222;
}

.carbon.StatusBarSimplePanel {
    border: 1px solid #222;
}

.carbon.StatusBarSizer {
    right: 2px;
    bottom: 2px;
    width: 9px;
    height: 9px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAAmSURBVChTY2AgACoqKv4TUoNfHmYC+Sahm0C6SbhMIN4kQiaA5AG0PyQKD/7QYwAAAABJRU5ErkJggg==);
}
