.lunahomestead.Window {
  background-color: #ECE9D8;
  background-repeat: no-repeat;
  overflow: hidden;
}

.lunahomestead.Window:not(.none) {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  box-shadow: inset 0 1px 0 0 #8BA169,
      inset 1px 0 0 0 #758D5E,
      inset 0 0 0 1px #5E764F,
      inset 0 2px 0 0 #E9F2C7,
      inset 0 3px 0 0 #E0E7B8,
      inset 2px 0 0 0 #8BA169,
      inset -2px 0 0 0 #899B6D,
      inset -3px 0 0 0 #BAC891,
      inset 0 -2px 0 0 #899B6D,
      inset 0 -3px 0 0 #BBC691;
  background-image: linear-gradient(to bottom, #CBD798, #CBD798),
      linear-gradient(to right, #CBD798, #CBD798),
      linear-gradient(to right, #A4B27F, #A4B27F),
      linear-gradient(to bottom, #96A867, #96A867),
      linear-gradient(to right, #ABBD85, #ABBD85),
      linear-gradient(to bottom, #C2CD95, #AAB982),
      linear-gradient(to bottom, #A8B680, #ADBD85 50%, #C2CD95 80%, #BBC98F);
  background-position: 3px calc(100% - 3px), calc(100% - 3px) 29px, 3px 29px, 3px 29px, 2px top, 2px 3px, 2px 3px;
  background-size: calc(100% - 4px) 1px, 1px calc(100% - 4px), 1px calc(100% - 4px), calc(100% - 6px) 1px, 1px calc(100% - 3px), calc(100% - 4px) 5px, calc(100% - 4px) 26px;
}

.lunahomestead.Window.inactive {
  box-shadow: inset 0 1px 0 0 #D7DBBD,
      inset 1px 0 0 0 #C8D0B7,
      inset 0 0 0 1px #B7BDAB,
      inset 0 2px 0 0 #F1F2DB,
      inset 0 3px 0 0 #EDEBD3,
      inset 2px 0 0 0 #D0D6BD,
      inset -2px 0 0 0 #BEC3AF,
      inset -3px 0 0 0 #CACFB9,
      inset 0 -2px 0 0 #BFC3B0,
      inset 0 -3px 0 0 #CBCFB9;
  background-image: linear-gradient(to bottom, #D6DCC2, #D6DCC2),
      linear-gradient(to right, #D6DCC2, #D6DCC2),
      linear-gradient(to right, #E0E2C8, #E0E2C8),
      linear-gradient(to bottom, #CBCEB6, #CBCEB6),
      linear-gradient(to right, #DBDFC5, #DBDFC5),
      linear-gradient(to bottom, #E1E0C3, #D3D6BA),
      linear-gradient(to bottom, #D2D5B9, #D6D9BC 50%, #E0E1C3 80%, #CBCEB6);
}

.lunahomestead.Window.rolledUp {
  max-height: 34px;
}

.lunahomestead.Window .lunahomestead.WindowTitleBar {
  height: 26px;
  min-height: 26px;
  max-height: 26px;
}

.lunahomestead.Window .lunahomestead.WindowTitle {
  color: #FFF;
  font-size: 10pt;
  font-weight: bold;
  text-shadow: 1px 1px 0 #41400A;
  height: 23px;
  line-height: 23px;
  max-height: 23px;
  min-height: 23px;
}

.lunahomestead.Window.inactive .lunahomestead.WindowTitle {
  text-shadow: none;
}

.lunahomestead.Window .lunahomestead.WindowTitleButton {
  border: none;
  border-radius: 3px;
  width: 21px;
  min-width: 21px;
  max-width: 21px;
  height: 21px;
  min-height: 21px;
  max-height: 21px;
  background-image: url(../../../images/lunahomestead/windowbtns.png);
  color: #FFF;
  top: 2px;
}

.lunahomestead.Window.inactive .lunahomestead.WindowTitleButton,
.lunahomestead.Window.inactive .lunahomestead.WindowCloseButton {
    background-position-x: -63px;
}

.lunahomestead.Window:not(.inactive) .lunahomestead.WindowTitleButton:not(.disabled):hover {
  background-position: -21px top;
}

.lunahomestead.Window:not(.inactive) .lunahomestead.WindowTitleButton.pressed:not(.disabled) {
  background-position: -42px top;
}

.lunahomestead.Window .lunahomestead.WindowCloseButton {
  margin-right: 3px;
  background-position: left -21px;
}

.lunahomestead.Window .lunahomestead.WindowCloseButton:not(.disabled):hover {
  background-position: -21px -21px;
}

.lunahomestead.Window .lunahomestead.WindowCloseButton.pressed:not(.disabled) {
  background-position: -42px -21px;
}