.Control.Expander {
    transition-property: height;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    display: flex;
    flex-direction: column;
}

.Control.ExpanderHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    min-height: 25px;
}

.Control.ExpanderContent {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.Control.ExpanderCheckbox {
    height: 14px;
    width: 22px;
    position: relative;
    margin-left: 5px;
}

.Control.ExpanderButton {
    position: relative;
    width: 13px;
    height: 16px;
    transition: all linear 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ExpanderButton:before {
    font-family: jagui;
    content: "7";
    transform: rotate(-45deg) translate(-2px, -2px);
}

.ExpanderButton.expanded:before {
    transform: none;
}

.ExpanderCaption {
    flex: 1;
    position: static;
    display: flex;
    align-items: center;
    padding-left: 3px;
}