.Control.Expander {
    transition-property: height;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    display: flex;
    flex-direction: column;
}

.Expander:before {
    content: attr(data-caption);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-left: 50px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat, no-repeat;
    background-position: 13px 3px, left top;
    z-index: 1;
}

.Expander.expanded:before {
    background-position: 8px, left top;
}

.Expander:after {
    content: "0";
    position: absolute;
    top: 0;
    font-family: jagui;
    font-size: 11pt;
    display: flex;
    align-items: center;
    z-index: 1;
}

.Expander:not(.viewCheck):after {
    display: none;
}

.Expander:not(.viewCheck):before {
    padding-left: 30px;
}