.GridLayout {
    display: grid;
    overflow: visible;
}

    .GridLayout > * {
        position: relative;
        left: auto !important;
        top: auto !important;
        /*width: 100%;
        height: 100%;*/
    }
