.Control.GridLayout {
    display: grid;
    overflow: visible;
}

    .Control.GridLayout > * {
        position: relative;
        left: auto !important;
        top: auto !important;
        width: 100% !important;
        height: 100% !important;
    }
