div.PageContent {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

div.PageControl.tabsBottom > div.TabsContainer {
    bottom: 0;
    top: auto;
}

div.PageControl.tabsBottom > div.PagesContent {
    bottom: 19px;
    top: 0;
}

div.PageControl.tabsBottom > button.TabControlLeftBtn,
div.PageControl.tabsBottom > button.TabControlRightBtn {
    top: auto;
    bottom: 0;
}
