/*@import url(tabcontrol.css);*/
.PageControl.tabsBottom .TabsContainer {
    bottom: 0;
    top: auto;
}

.PageControl.tabsBottom .PagesContent {
    bottom: 19px;
    top: 0;
}

.PageControl.tabsBottom .TabControlLeftBtn,
.PageControl.tabsBottom .TabControlRightBtn {
    top: auto;
    bottom: 0;
}

.PageControl .PageContent {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
}
