div.ScrollBox {
    overflow: hidden;
}

div.ScrollBoxViewPort {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}

div.ScrollBoxContent {
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
}