@import url(../common/button.css);
.Window {
    overflow: hidden;
    display: inline-block;
    transform-style: preserve-3d;
    user-select: none;
}

.Window.none {
    border-radius: 0 !important;
    border: none !important;
    background-image: none !important;
}

.Window.none:before, .Window.none:after {
    content: none;
}

.Window.none .WindowLayout {
    margin: 0;
}

.Window.maximized {
    transition-property: left, width, top, height;
    transition-duration: 0.2s;
    border-radius: 0 !important;
}

.Window.maximized .WindowTitleBar, .Window.maximized .WindowContent {
    border-radius: 0;
}

.Window.minimized {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition-property: left, width, top, height;
    transition-duration: 0.2s;
}

.WindowLayout {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.Window.none .WindowLayout {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.Window.none .WindowLayout:before {
    display: none;
}

.Window.rolledUp {
    max-height: 28px;
}

.WindowTitleBar {
        position: static;
        height: 25px;
        min-height: 25px;
        max-height: 25px;
        text-align: left;
        order: 1;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        display: flex;
    }

.Window:not(.none):not(.dialog) .WindowTitleBar {
    padding-left: 24px;
}

.Window.dialog .WindowTitleBar {
    padding-left: 2px;
}

.WindowTitle {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    max-height: 25px;
    min-height: 25px;
    position: static;
    flex: 1;
}

.Button.WindowTitleButton {
    left: auto;
    position: relative;
    width: 18px;
    min-width: 18px;
    max-width: 18px;
    height: 18px;
    min-height: 18px;
    max-height: 18px;
    top: 4px;
    margin-right: 2px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.WindowTitleButton:before {
    font-family: jagui;
    white-space: nowrap;
    padding: 0;
}

.WindowCloseButton:before {
    content: "C";
}

.WindowMinimizeButton:before {
    content: ":";
}

.Window.minimized .WindowMinimizeButton:before {
    content: "<";
}

.WindowMaxRestoreButton:before {
    content: ";";
}

.WindowHelpButton:before {
    content: "9";
}

.WindowRollUpDownButton:before {
    content: ">";
}

.WindowStayOnOffButton:before {
    content: "@";
}

.WindowLayout {
    margin: 1px;
}

.WindowContent {
    display: grid;
    flex: 1;
    order: 4;
    overflow: auto;
    position: relative;
}

.Window.none .WindowContent {
    border: none;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

.Window.dialog .WindowIcon {
    background: none;
}

.Window:not(.none) .WindowIcon {
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.Window.dialog .WindowMinimizeButton,
.Window.dialog .WindowMaxRestoreButton,
.Window.dialog .WindowRollUpDownButton,
.Window.dialog .WindowStayOnOffButton,
.Window.none .WindowTitleBar {
    display: none !important;
}

.Window.dialog .WindowContent {
    overflow: hidden;
}

.Window:not(.none) .WindowLayout {
    margin: 4px;
}

.Window.none,
.Window.none .WindowLayout,
.Window.none .WindowContent {
    border-radius: 0;
    border: none;
}

.WindowRollUpDownButton.isup:before {
    content: "=";
}

.WindowStayOnOffButton.isstayon:before {
    content: "?";
}

.WindowMaxRestoreButton.isrestore:before {
    content: "<";
}