@import url(../../../../css/components/extended/bitmapbutton.css);
@import url(../common/buttonglyph.css);

.neumorphiclight.BitmapButton,
.neumorphiclight.BitmapButton.disabled:hover {
    border-radius: 3px;
    border: 1px solid #222;
    background-image: linear-gradient(to bottom,#505050 0,#303030 100%);
}

.neumorphiclight.BitmapButton.stayspressed.pressed,
.neumorphiclight.BitmapButton.stayspressed.pressed:hover {
    background-color: #F5AB28;
    background-image: none;
    color: #000;
}

.neumorphiclight.BitmapButton:hover {
    background-image: linear-gradient(to bottom,#707070 0,#303030 100%);
}

.neumorphiclight.BitmapButton.pressed {
    background-image: linear-gradient(to bottom,#404040 0,#303030 100%);
}

.neumorphiclight.BitmapButton.focused {
    box-shadow: 0 0 6px #F69E2D;
}
