@import url(../../../../css/components/extended/circularprogressbar.css);
@import url(../common/progressbar.css);

.neumorphiclight.CircularProgressBar,
.neumorphiclight.CircularProgressBar:after {
    border: 1px solid #303030;
}

.neumorphiclight.CircularProgressBar svg circle.CircularProgressBar_back {
    stroke: #4A4A4A;
}

.neumorphiclight.CircularProgressBar svg circle.CircularProgressBar_progress {
    stroke: #B48625;
}
