@import url(/css/components/extended/imageViewer.css);

.neumorphiclight.ImageViewerViewPort {
    background-color: #404040;
}

.neumorphiclight.ImageViewer {
    border: 1px solid #303030;
    background-color: #404040;
}
