.simple.ListBoxItemColor.disabled:hover {
    background-color: transparent;
}

.simple.ListBoxItemColor:hover,
.simple.ListBoxItemColor.selected {
    background-color: #2B8EDF;
    color: #FFF;
}

.simple.Color {
    left: 1px;
    top: 1px;
    width: 12px;
    height: 12px;
}
