.air.CalloutPanel {
    border: 1px solid #515151;
    background-image: linear-gradient(to bottom,#494949 0,#4A4A4A 100%);
    box-shadow: 0 0 0 1px #1C1C1C inset,0 0 0 2px #6A6A6A inset;
}

.air.CalloutPanelArrow.calloutposition-top {
    border: 1px solid transparent;
    border-bottom-color: #1C1C1C;
}

.air.CalloutPanelArrow.calloutposition-right {
    border: 1px solid transparent;
    border-left-color: #1C1C1C;
}

.air.CalloutPanelArrow.calloutposition-bottom {
    border: 1px solid transparent;
    border-top-color: #1C1C1C;
}

.air.CalloutPanelArrow.calloutposition-left {
    border: 1px solid transparent;
    border-right-color: #1C1C1C;
}
