@import url(/css/components/color/dropDownListBoxColor.css);

.neumorphiclight.ListBoxItemColor {
    border-radius: 3px;
}

.neumorphiclight.ListBoxItemColor.disabled:hover {
    background-color: transparent;
}

.neumorphiclight.ListBoxItemColor:hover,
.neumorphiclight.ListBoxItemColor.selected {
    background-color: #936639;
}
