/*@import url(../common/button.css);*/
.ToolButton,
.ToolButtonSep {
    overflow: hidden;
    position: relative;
    width: 23px;
}

.ToolButtonSep {
    width: 0;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
}

.ToolButton img {
    background-repeat: no-repeat;
}

.ToolButtonCaption {
    transform: none;
}
