/*@import url(../../../../css/components/containers/tabcontrol.css);*/
.carbon.Tab,
.carbon.Tab.disabled:hover {
    border: 1px solid #303030;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: linear-gradient(to bottom,#303030 0,#404040 100%);
}

.carbon.TabControl.focused .carbon.Tab.selected {
    color: #F69E2D;
}

.carbon.Tab:hover {
    background-image: linear-gradient(to bottom,#4F4F4F 0,#404040 100%);
}

.carbon.TabControl.tabsBottom .carbon.Tab:hover {
    background-image: linear-gradient(to top,#4F4F4F 0,#404040 100%);
}

.carbon.Tab.selected,
.carbon.Tab.selected:hover {
    background-image: linear-gradient(to bottom,#606060 0,#404040 100%);
    height: 20px;
    margin-top: 0;
    padding-top: 2px;
    border-bottom: none;
}

.carbon.TabControl.tabsBottom .carbon.Tab.selected,
.carbon.TabControl.tabsBottom .carbon.Tab.selected:hover {
    background-image: linear-gradient(to top,#606060 0,#404040 100%);
    padding-top: 4px;
    height: 20px;
    border-top: none;
}

.carbon.TabControl.tabsBottom .carbonTab {
    color: #E0E0E0;
    border: 1px solid #303030;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: linear-gradient(to top,#303030 0,#404040 100%);
    padding-top: 1px;
    vertical-align: top;
    margin-top: 0;
}

.carbon.TabsContent {
    border: 1px solid #303030;
    border-radius: 3px;
    background-image: linear-gradient(to bottom,#404040 0,#303030 100%);
    border-top: none;
    box-shadow: 0 -1px 0 0 #303030;
}

.carbon.TabControl.tabsBottom .carbon.TabsContent {
    background-image: linear-gradient(to top,#404040 0,#303030 100%);
    margin-bottom: -1px;
}
