.air.StatusBar {
    left: 0;
    height: 22px;
    border-top: 1px solid #1C1C1C;
    background-color: #484848;
}

.air.StatusBarPanel.lowered {
    border: 1px solid #1C1C1C;
    border-bottom-color: #6A6A6A;
    border-right-color: #6A6A6A;
}

.air.StatusBarPanel.raised {
    border: 1px solid #1C1C1C;
    border-top-color: #6A6A6A;
    border-left-color: #6A6A6A;
}

.air.StatusBarPanel.single {
    border-left: 1px solid #1C1C1C;
}

.air.StatusBarSimplePanel {
    border: 1px solid #1C1C1C;
}

.air.StatusBarSizer {
    right: 2px;
    bottom: 2px;
    width: 9px;
    height: 9px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAAmSURBVChTY2AgACoqKv4TUoNfHmYC+Sahm0C6SbhMIN4kQiaA5AG0PyQKD/7QYwAAAABJRU5ErkJggg==);
}
