.air.ToolButton,
.air.ToolButton.disabled:hover {
    outline: none;
    background: none;
    border: none;
}

.air.ToolButton:hover {
    outline: 1px solid rgba(101,200,224,0.9);
    outline-offset: -1px;
}

.air.ToolButton:hover .ToolButtonCaption {
    text-shadow: 0 0 8px rgba(101,200,224,0.9);
}

.air.ToolButtonCaption {
    text-shadow: none;
}

.air.ToolButton:hover img {
    -webkit-filter: drop-shadow(0 0 4px rgba(101,200,224,0.9));
    filter: url(../shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0,Color='#65C8E0')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#65C8E0')";
}

.air.ToolButton img,
.air.ToolButton.disabled:hover img {
    -webkit-filter: none;
    filter: none;
    -ms-filter: none;
    filter: none;
}

.air.ToolButtonSep {
    background-color: #6A6A6A;
    height: calc(100% - 4px);
    margin: 2px;
    width: 1px;
}
