.ColorPanel {
    min-width: 100px;
    min-height: 100px;
    display: grid;
    grid-template-columns: 0.76fr 0.24fr;
    grid-template-rows: 0.76fr 0.24fr;
}

.ColorPanel .ColorQuad,
.ColorPanel .HUESlider,
.ColorPanel .AlphaSlider {
    position: relative;
}

.ColorPanel .ColorQuad {
    min-height: 0;
    min-width: 0;
    background-color: rgb(0, 0, 255);
    margin:5px;
}

.ColorPanel .AlphaSlider {
    align-self: center;
    margin: 0 12px 0 7px;
}

.ColorPanel .HUESlider.orientation-vertical {
    align-self: center;
}

.ColorPanel .ColorBox {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    grid-area: 2 / 2 / 3 / 3;
}

.ColorPanel .ColorBox:first-of-type {
    box-shadow: rgb(0, 0, 255) 0 0 0 1000px inset;
    top: 0;
    left: 0;
    z-index: 1;
}

.ColorPanel .ColorBox:last-of-type {
    box-shadow: rgb(255, 255, 255) 0 0 0 1000px inset;
    right: 0;
    bottom: 0;
}