@import url(../common/button.css);
.ColorButton {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

.ColorButtonColor {
    flex: 1;
    margin: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJ0lEQVQImWNYtGjR/0WLFv1///49HC9atOg/AzIHWREZEjjtwCUBAECKeHPjub7wAAAAAElFTkSuQmCC);
}
