@import url(../../../../css/components/containers/expander.css);
@import url('../common/checkbox.css');
@import url('../common/button.css');

.neumorphiclight.Expander {
    border: 1px solid #303030;
    border-radius: 2px;
    background-image: linear-gradient(to bottom,#404040 0,#404040 70%,#303030 100%);
    --neumorphiclight-header-height: 21px;
    --neumorphiclight-arrow-left: 13px;
    --neumorphiclight-arrow-top: 3px;
    --neumorphiclight-arrow-width: 13px;
    --neumorphiclight-arrow-height: 13px;
    --neumorphiclight-check-left: 30px;
    --neumorphiclight-check-width: 22px;
}

    .neumorphiclight.Expander:before {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='15' width='10'><polygon points='0,0 10,7.5 0,15' fill='rgb(224,224,224)' /></svg>"), linear-gradient(to bottom,#404040 0,#404040 70%,#303030 100%);
        height: var(--neumorphiclight-header-height);
    }

    .neumorphiclight.Expander.expanded:before {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='13' width='13'><polygon points='13,0 13,13 0,13' fill='rgb(224,224,224)' /></svg>"), linear-gradient(to bottom,#404040 0,#404040 70%,#303030 100%);
    }

    .neumorphiclight.Expander:after {
        height: var(--neumorphiclight-header-height);
        left: var(--neumorphiclight-check-left);
        width: var(--neumorphiclight-check-width);
    }

.Expander:not(.checked):after {
    opacity: 0.2;
}
