@import url(../../../../css/components/containers/groupbox.css);

.neumorphiclight.GroupBox {
    border: 1px solid #202020;
    border-radius: 4px;
}

.neumorphiclight.GroupBoxLegend {
    color: #E0E0E0;
}
