@import url(/css/components/containers/window.css);

.neumorphiclight.Window {
    background-repeat: no-repeat;
    background-color: #333;
}

.neumorphiclight.Window.maximized {
    box-shadow: inset 0 0 0 1px #222, inset 0 0 0 4px #000 !important;
}

.neumorphiclight.Window:not(.none) {
    border-radius: 9px;
    background-position: top left;
    background-size: 100% 25px;
    background-image: linear-gradient(to bottom, #000, #000);
    box-shadow: inset 0 0 0 1px #222, inset 0 0 0 4px #000, 5px 5px 5px rgba(0, 0, 0, .7);
}

.neumorphiclight.Window.inactive {
    background-image: linear-gradient(to bottom, #505050, #505050);
}

.neumorphiclight.Window:not(.none) {
    background-size: 100% 29px;
}

.neumorphiclight.WindowTitleBar {
    margin: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.neumorphiclight.WindowTitle {
    font-size: 10pt;
}

.neumorphiclight.Window.inactive .neumorphiclight.WindowTitle {
    color: #A5A5A5;
}

.neumorphiclight.Window:not(.none) .neumorphiclight.WindowTitle {
    line-height: 21px;
}

.neumorphiclight.Window:not(.none) .neumorphiclight.Button.WindowTitleButton {
    top: 1px;
}

.neumorphiclight.Button.WindowTitleButton {
    border: none;
    box-shadow: inset 0 0 0 1px #222;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #505050, #303030);
}

.neumorphiclight.Button.WindowTitleButton:not(.disabled):hover {
    background-image: linear-gradient(to bottom, #707070, #303030);
}

.neumorphiclight.Button.WindowTitleButton.pressed:not(.disabled) {
    background-image: linear-gradient(to bottom, #404040, #303030);
}

.neumorphiclight.WindowContent {
    background-color: #505050;
    scrollbar-color: #F4BB40 #303030;
    position: relative;
    scrollbar-width: thin;
}