@import url(../../../../css/components/menus/menus.css);

.neumorphiclight.MainMenu {
    background-image: linear-gradient(to bottom,#303030 0,#404040 100%);
}

.neumorphiclight.MenuItem:hover,
.neumorphiclight.MenuItem.active {
    color: #EDB53D;
    background-image: linear-gradient(to bottom,rgba(112,112,112,0.8) 0,rgba(48,48,48,0.8) 100%);
}

.neumorphiclight.MenuItem.disabled:hover,
.neumorphiclight.MenuItem.disabled {
    background-image: none;
    color: #E0E0E0;
}

.neumorphiclight.PopupMenu {
    background-image: linear-gradient(to bottom,#404040 0,#404040 70%,#303030 100%);
}

.neumorphiclight.subMenu {
    border: 1px solid #303030;
    border-radius: 2px;
}

.neumorphiclight.subMenu:before {
    top: 0;
    left: 0;
    width: 29px;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    content: "";
    z-index: -1;
    position: absolute;
}

.neumorphiclight.MenuItemSep {
    background-color: #E0E0E0;
    width: 200%;
}

.neumorphiclight.subMenu .MenuItemCaption {
    padding-left: 35px;
    line-height: 20px;
}

.neumorphiclight.MenuItem.checked .MenuItemCaption {
    background-image: none;
}

.neumorphiclight.MenuItem.checked .MenuItemCaption:before,
.neumorphiclight.MenuItem.checked.radioitem .MenuItemCaption:before {
    position: absolute;
    left: 5px;
    width: 20px;
    height: 18px;
    text-align: center;
    font-family: "JaGui";
}

.neumorphiclight.MenuItem.checked .MenuItemCaption:before {
    content: "4";
    font-size: 8pt;
    border: 1px solid #F69E2D;
    background-color: rgba(246,158,45,0.3);
}

.neumorphiclight.MenuItem.checked.radioitem .MenuItemCaption:before {
    content: "3";
    font-size: 5pt;
    top: 0;
}
