.basefont,
.Control,
input.Control,
.Control.Button,
textarea.Control {
    font-family: "Tahoma";
    font-size: 8pt;
}

.Control,
/*div.Control,*/
span.Control,
jagui-label.Control,
svg.Control,
img.Control {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

    .Control,
    span.Control,
    jagui-label.Control,
    img.Control,
    fieldset.Control,
    svg.Control,
    input.Control,
    .Control.Button,
    canvas.Control {
        position: absolute;
        overflow: hidden;
        box-sizing: border-box;
    }

        .Control,
        span.Control,
        jagui-label.Control,
        img.Control,
        svg.Control,
        input.Control,
        .Control.Button,
        canvas.Control {
            padding: 0;
        }

fieldset.Control {
    padding: 0.625em 0.75em 0.75em 0.75em;
}

input.Control {
    margin: 0;
}

.Control::-moz-focus-inner {
    border: 0;
}

.Control:focus {
    outline: none;
}

.Control::-ms-clear,
.Control::-ms-reveal {
    display: none;
}

.Control.disabled {
    opacity: 0.5;
}

.hidden {
    visibility: hidden !important;
}

.noDisplay {
    display: none !important;
}

.Control.center {
    padding: 0;
    text-align: center;
}

.Control.horizontalCenter {
    left: 50%;
    transform: translateX(-50%);
}

.Control.verticalCenter {
    top: 50%;
    transform: translateY(-50%);
}

.Control.centerCenter {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.Control.repaint {
    transform: translateZ(0);
}

.noEvents {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

.ItemsWheel {
    width: 20px;
    height: 40px;
    border-radius: 2px;
}

.ItemsWheelTopGradient {
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    z-index: 1;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.9) 0,rgba(0,0,0,0) 100%);
}

.ItemsWheelSep {
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
}

.ItemsWheelContent {
    left: 0;
    right: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: top linear 0.1s;
}

.ItemsWheelBottomGradient {
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    z-index: 1;
    background-image: linear-gradient(to top,rgba(0,0,0,0.9) 0,rgba(0,0,0,0) 100%);
}

.ItemsWheelItem {
    display: block;
    left: 0;
    width: 100%;
    height: 15px;
    line-height: 15px;
    position: relative;
    text-align: center;
}

.ShortCutIcon {
    display: flex;
    min-width: 64px;
    max-width: 64px;
    overflow: visible;
    flex-direction: column;
    align-items: center;
    max-height: 64px;
}

/*.ShortCutIcon.inDesigner {
        display: block;
    }*/

.ShortCutIconImg {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 32px 32px;
    min-width: 32px;
    min-height: 32px;
}

.ShortCutIconCaption {
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    max-height: 32px;
}

.PopupBox {
    box-shadow: 3px 3px 2px rgba(0,0,0,.7);
    z-index: 10000;
    display: flex;
}

.ToolTip {
    opacity: 0;
    visibility: hidden;
}

.ToolTip.fade {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
}

@supports ( -webkit-box-reflect: below 0px ) {
    .reflected {
        -webkit-box-reflect: below 0px linear-gradient(to bottom, transparent, transparent 50%, black);
    }
}

.scrollContent {
    overflow: hidden;
    scrollbar-width: thin;
}

    .scrollContent:hover {
        overflow: auto;
    }