.vista.Window {
  overflow: visible;
  -webkit-backdrop-filter:blur(2px);
  backdrop-filter:blur(2px);
}

.vista.Window.maximized {
  box-shadow: inset 1px 1px 0 0 #FFF, inset -1px -1px 0 0 #2CD3FE !important;
}

.vista.Window:not(.none) {
  border: 1px solid #343434;
  background-image: linear-gradient(rgba(0, 74, 127, 0.2) 0, rgba(255, 255, 255, 1) 33%, rgba(0, 74, 127, 0.6) 34%, rgba(0, 74, 127, 0.4) 100%);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: auto auto;
  border-radius: 6px;
  box-shadow: 0 0 15px #000, inset 1px 1px 0 0 #FFF, inset -1px -1px 0 0 #2CD3FE;
}

.vista.Window.inactive:not(.none) {
  border: 1px solid #4D4D4D;
  background-image: linear-gradient(rgba(0, 74, 127, 0.05) 0, rgba(255, 255, 255, 0.25) 33%, rgba(0, 74, 127, 0.15) 34%, rgba(0, 74, 127, 0.1) 100%);
  box-shadow: 0 0 15px #000, inset 1px 1px 0 0 #FFF, inset -1px -1px 0 0 #E9ECF3;
}

.vista.Window.rolledUp, .vista.Window.minimized {
  background-image: url(../../../images/vista/titlebar.png);
}

.vista.Window.rolledUp {
  max-height: 34px;
}

.vista.Window:before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 30px;
  content: "";
  border-radius: 6px;
  background: linear-gradient(60deg, rgba(255, 255, 255, 0) 0%, rgba(180, 180, 180, 0.03) 5%, rgba(32, 32, 32, 0.04) 6%, rgba(109, 109, 109, 0.04) 7%, rgba(206, 206, 206, 0.04) 8%, rgba(31, 31, 31, 0.04) 9%, rgba(0, 0, 0, 0.02) 10%, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 0.04) 15%, rgba(190, 190, 190, 0.06) 16%, rgba(255, 255, 255, 0.07) 17%, rgba(255, 255, 255, 0.08) 21%, rgba(18, 18, 18, 0.08) 22%, rgba(56, 56, 56, 0.08) 23%, rgba(157, 157, 157, 0.08) 24%, rgba(242, 242, 242, 0.08) 25%, rgba(30, 30, 30, 0.08) 26%, rgba(27, 27, 27, 0.08) 27%, rgba(120, 120, 120, 0.08) 28%, rgba(186, 186, 186, 0.08) 29%, rgba(253, 253, 253, 0.09) 30%, rgba(252, 252, 252, 0.09) 31%, rgba(248, 248, 248, 0.08) 34%, rgba(243, 243, 243, 0.04) 37%, rgba(0, 0, 0, 0.03) 38%, rgba(6, 6, 6, 0.02) 39%, rgba(30, 30, 30, 0.02) 43%, rgba(54, 54, 54, 0.06) 47%, rgba(254, 254, 254, 0.07) 48%, rgba(253, 253, 253, 0.08) 51%, rgba(11, 11, 11, 0.08) 52%, rgba(0, 0, 0, 0.07) 53%, rgba(0, 0, 0, 0.04) 55%, rgba(242, 242, 242, 0.03) 56%, rgba(255, 255, 255, 0.02) 57%, rgba(236, 236, 236, 0) 58%, rgba(217, 217, 217, 0.02) 59%, rgba(197, 197, 197, 0.09) 60%, rgba(158, 158, 158, 0.05) 62%, rgba(0, 0, 0, 0.03) 63%, rgba(51, 51, 51, 0.04) 64%, rgba(112, 112, 112, 0.04) 65%, rgba(189, 189, 189, 0.05) 66%, rgba(236, 236, 236, 0.06) 67%, rgba(254, 254, 254, 0.08) 68%, rgba(218, 218, 218, 0.09) 69%, rgba(182, 182, 182, 0.09) 70%, rgba(36, 36, 36, 0.06) 74%, rgba(19, 19, 19, 0.05) 75%, rgba(62, 62, 62, 0.05) 76%, rgba(114, 114, 114, 0.05) 77%, rgba(178, 178, 178, 0.04) 78%, rgba(218, 218, 218, 0.04) 79%, rgba(255, 255, 255, 0.03) 80%, rgba(154, 154, 154, 0.03) 81%, rgba(0, 0, 0, 0.02) 82%, rgba(48, 48, 48, 0.02) 83%, rgba(85, 85, 85, 0.01) 84%, rgba(161, 161, 161, 0.01) 85%, rgba(254, 254, 254, 0) 86%, rgba(0, 0, 0, 0) 89%, rgba(255, 255, 255, 0) 91%, rgba(191, 191, 191, 0.01) 92%, rgba(204, 204, 204, 0.02) 93%, rgba(112, 112, 112, 0.03) 94%, rgba(67, 67, 67, 0.04) 95%, rgba(25, 25, 25, 0.04) 96%, rgba(0, 0, 0, 0.03) 97%, rgba(0, 0, 0, 0) 100%), linear-gradient(60deg, rgba(255, 255, 255, 0) 0%, rgba(180, 180, 180, 0.03) 5%, rgba(32, 32, 32, 0.04) 6%, rgba(109, 109, 109, 0.04) 7%, rgba(206, 206, 206, 0.16) 8%, rgba(31, 31, 31, 0.04) 9%, rgba(0, 0, 0, 0.04) 10%, rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 0.08) 15%, rgba(190, 190, 190, 0.12) 16%, rgba(255, 255, 255, 0.28) 17%, rgba(255, 255, 255, 0.32) 21%, rgba(18, 18, 18, 0.08) 22%, rgba(56, 56, 56, 0.08) 23%, rgba(157, 157, 157, 0.08) 24%, rgba(242, 242, 242, 0.32) 25%, rgba(30, 30, 30, 0.08) 26%, rgba(27, 27, 27, 0.08) 27%, rgba(120, 120, 120, 0.08) 28%, rgba(186, 186, 186, 0.16) 29%, rgba(253, 253, 253, 0.36) 30%, rgba(252, 252, 252, 0.32) 31%, rgba(248, 248, 248, 0.32) 34%, rgba(243, 243, 243, 0.08) 37%, rgba(0, 0, 0, 0.03) 38%, rgba(6, 6, 6, 0.02) 39%, rgba(30, 30, 30, 0.02) 43%, rgba(54, 54, 54, 0.06) 47%, rgba(254, 254, 254, 0.14) 48%, rgba(253, 253, 253, 0.16) 51%, rgba(11, 11, 11, 0.08) 52%, rgba(0, 0, 0, 0.07) 53%, rgba(0, 0, 0, 0.04) 55%, rgba(242, 242, 242, 0.06) 56%, rgba(255, 255, 255, 0.04) 57%, rgba(236, 236, 236, 0) 58%, rgba(217, 217, 217, 0.04) 59%, rgba(197, 197, 197, 0.18) 60%, rgba(158, 158, 158, 0.1) 62%, rgba(0, 0, 0, 0.03) 63%, rgba(51, 51, 51, 0.04) 64%, rgba(112, 112, 112, 0.02) 65%, rgba(189, 189, 189, 0.1) 66%, rgba(236, 236, 236, 0.12) 67%, rgba(254, 254, 254, 0.16) 68%, rgba(218, 218, 218, 0.18) 69%, rgba(182, 182, 182, 0.18) 70%, rgba(36, 36, 36, 0.03) 74%, rgba(19, 19, 19, 0.05) 75%, rgba(62, 62, 62, 0.05) 76%, rgba(114, 114, 114, 0.1) 77%, rgba(178, 178, 178, 0.08) 78%, rgba(218, 218, 218, 0.08) 79%, rgba(255, 255, 255, 0.06) 80%, rgba(154, 154, 154, 0.06) 81%, rgba(0, 0, 0, 0.04) 82%, rgba(48, 48, 48, 0.04) 83%, rgba(85, 85, 85, 0.02) 84%, rgba(161, 161, 161, 0.02) 85%, rgba(254, 254, 254, 0.04) 86%, rgba(0, 0, 0, 0) 89%, rgba(255, 255, 255, 0) 91%, rgba(191, 191, 191, 0.04) 92%, rgba(204, 204, 204, 0.08) 93%, rgba(112, 112, 112, 0.12) 94%, rgba(67, 67, 67, 0.16) 95%, rgba(25, 25, 25, 0.16) 96%, rgba(0, 0, 0, 0.12) 97%, rgba(0, 0, 0, 0.02) 100%),
      linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
      rgba(255, 255, 255, 0.25);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.vista.Window:not(.none) .vista.WindowLayout {
  margin: 6px;
  overflow: visible;
}

.vista.Window .vista.WindowTitleBar {
  margin: 0;
  height: 26px;
  min-height: 26px;
  max-height: 26px;
  overflow: visible;
}

.vista.Window .vista.WindowTitle {
  color: #000;
  font-size: 10pt;
  text-shadow: 0 0 1px #fff, 3px 3px 5px #fff, -3px -3px 5px #fff, -3px 3px 5px #fff, 3px -3px 5px #fff;
  height: 17px;
  line-height: 17px;
  max-height: 17px;
  min-height: 17px;
  top: 2px;
  overflow: visible;
}

.vista.Window.inactive .vista.WindowTitle {
  color: rgba(0,0,0,0.75);
}

.vista.Window .vista.WindowTitleButton {
  top: 2px;
  width: 26px;
  min-width: 26px;
  max-width: 26px;
  height: 17px;
  min-height: 17px;
  max-height: 17px;
  margin-right: 0;
  border: 1px solid #616162;
  border-top: none;
  background-image: linear-gradient(to bottom, #BAD2DA, #91B2BD 50%, #5E8C9B 51%, #759EB4);
  box-shadow: -1px 0 0 0 #FBFBFB, inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 0 0 #FBFBFB, inset 0 1px 0 0 #FFF;
  background-color: transparent;
  top: -6px;
  margin-right: -1px;
}

.vista.Window.inactive .vista.WindowTitleButton {
  background-image: none;
}

.vista.Window:not(.inactive) .vista.WindowTitleButton:not(.disabled):hover {
  border-color: #556D7B;
  border-top-color: rgba(0, 0, 0, 0.2);
  background-image: radial-gradient(50% 100%, ellipse cover, rgba(6, 254, 251, 1), rgba(255, 0, 0, 0) 50%), linear-gradient(to bottom, #BADCF2 0, #9CCAE5 50%, #1569A2 51%, #3E89BF 100%);
  background-image: -webkit-radial-gradient(50% 100%, ellipse cover, #5DC6F1, rgba(255, 0, 0, 0) 50%), linear-gradient(to bottom, #BADCF2 0, #9CCAE5 50%, #1569A2 51%, #3E89BF 100%);
  box-shadow: 0 0 6px 3px #69D0FB, inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 0 0 #FBFBFB, 1px 0 0 0 rgba(255, 255, 255, 0.6), inset 0 1px 0 0 #FFF;
  z-index: 1;
}

.vista.Window:not(.inactive) .vista.WindowTitleButton.pressed:not(.disabled) {
  border-color: #021324;
  border-top-color: rgba(0, 0, 0, 0.2);
  background-image: radial-gradient(50% 100%, ellipse cover, rgba(6, 254, 251, 0.6), rgba(255, 0, 0, 0) 50%), linear-gradient(to bottom, #90ADC2 0, #597D9C 50%, #042240 51%, #1C4069 100%);
  background-image: -webkit-radial-gradient(50% 100%, ellipse cover, rgba(6, 254, 251, 0.6), rgba(255, 0, 0, 0) 50%), linear-gradient(to bottom, #90ADC2 0, #597D9C 50%, #042240 51%, #1C4069 100%);
}

.vista.Window .vista.WindowTitleButton:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 11px;
  background-image: url(../../../images/vista/windowbtns.png);
  background-position: left top;
  background-repeat: no-repeat;
}

.vista.Window .vista.WindowCloseButton {
  border-bottom-right-radius: 3px;
  width: 43px;
  min-width: 43px;
  max-width: 43px;
  border-right: 1px solid #582F27;
  background-image: linear-gradient(to bottom, #DDA8A2, #C57769 50%, #B14431 51%, #BB7767);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 0 0 #FBFBFB, -1px 0 0 0 #FBFBFB, 1px 0 0 0 #FBFBFB;
  margin-right: 0;
}

.vista.Window:not(.inactive) .vista.WindowCloseButton:not(.disabled):hover {
  background-image: -webkit-radial-gradient(50% 100%, ellipse cover, rgba(255, 238, 0, 0.6), rgba(255, 0, 0, 0) 50%), linear-gradient(to bottom, #FB9E8C 0, #F1755F 50%, #CF2202 51%, #D88873 100%);
  background-image: radial-gradient(50% 100%, ellipse cover, rgba(255, 238, 0, 0.6), rgba(255, 0, 0, 0) 50%), linear-gradient(to bottom, #E6998D 0, #D76E5E 50%, #A51A06 51%, #BB6556 100%);
  box-shadow: 0 0 6px 3px #FA9277, inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.6), 1px 0 0 0 rgba(255, 255, 255, 0.6);
}

.vista.Window .vista.WindowCloseButton.pressed:not(.disabled) {
  background-image: -webkit-radial-gradient(50% 100%, ellipse cover, rgba(241, 201, 34, 0.6), rgba(255, 0, 0, 0) 50%), linear-gradient(to bottom, #D3AB95 0, #C08166 50%, #4D0C01 51%, #8E1A02 100%);
  background-image: radial-gradient(50% 100%, ellipse cover, rgba(241, 201, 34, 0.6), rgba(255, 0, 0, 0) 50%), linear-gradient(to bottom, #AC8E79 0, #906048 50%, #420C01 51%, #8E1A02 100%);
}

.vista.Window .vista.WindowMaxRestoreButton:before {
  background-position-y: -11px;
}

.vista.Window.maximized .vista.WindowMaxRestoreButton:before, .vista.Window.snapedtop .vista.WindowMaxRestoreButton:before, .vista.Window.minimized .vista.WindowMinimizeButton:before {
  background-position-y: -22px;
}

.vista.Window .vista.WindowMinimizeButton:before {
  background-position-y: -33px;
}

.vista.Window .vista.WindowHelpButton:before {
  background-position-y: -44px;
}

.vista.Window .vista.WindowRollUpDownButton:before {
  background-position-y: -55px;
}

.vista.Window .vista.WindowRollUpDownButton.isup:before {
  background-position-y: -11px;
}

.vista.Window .vista.WindowStayOnOffButton:before {
  background-position-y: -66px;
}

.vista.Window .vista.WindowStayOnOffButton.isstayon:before {
  background-position-y: -77px;
}

.vista.Window .vista.WindowContent {
  background-color: #F1F1F1;
  overflow: hidden;
}

.vista.Window:not(.none) .vista.WindowContent:last-child {
  border: 1px solid #3C3C3C;
  box-shadow: 0 0 0 1px #FEFEFE;
}

.vista.Window:not(.none) .vista.WindowContent:nth-last-child(2) {
  box-shadow: 1px 0 0 0 #FEFEFE, -1px 0 0 0 #FEFEFE;
}

.vista.Window .vista.WindowContent:nth-last-child(2):before {
  position: absolute;
  content: '';
  border-left: 1px solid #3C3C3C;
  border-right: 1px solid #3C3C3C;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}