.BusyIndicator,
.spinC {
    overflow: visible;
}

.spinIndic {
    position: inherit;
}

.spinContainer {
    overflow: visible;
    left: 50%;
    top: 50%;
}

.win8loader {
    text-align: left;
}

.win8loader .win8circle {
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    opacity: 0;
    transform: rotate(225deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 5.5s;
}

.win8loader .win8circle:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}

.win8loader .win8circle:nth-child(2) {
    animation-delay: 240ms;
}

.win8loader .win8circle:nth-child(3) {
    animation-delay: 480ms;
}

.win8loader .win8circle:nth-child(4) {
    animation-delay: 720ms;
}

.win8loader .win8circle:nth-child(5) {
    animation-delay: 960ms;
}

.ballIndic {
    opacity: 0.9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    animation: spin .5s infinite linear;
}

.ball1Indic {
    opacity: 0.9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50%;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    animation: spinoff .5s infinite linear;
}

.circleIndic {
    opacity: 0.9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    animation: spinPulse 1s infinite linear;
}

.circle1Indic {
    opacity: 0.9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50%;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    animation: spinoffPulse 1s infinite linear;
}
