.Control.BusyIndicator,
.Control.spinC {
    overflow: visible;
}

.spinContainer {
    overflow: visible;
    left: 50%;
    top: 50%;
}

.Control.win8loader {
    text-align: left;
}

.Control.win8loader .win8circle {
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    opacity: 0;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: orbit;
    -moz-animation-duration: 5.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: orbit;
    -webkit-animation-duration: 5.5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-name: orbit;
    -ms-animation-duration: 5.5s;
    -o-animation-iteration-count: infinite;
    -o-animation-name: orbit;
    -o-animation-duration: 5.5s;
    transform: rotate(225deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 5.5s;
}

.Control.win8loader .win8circle:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}

.Control.win8loader .win8circle:nth-child(2) {
    -moz-animation-delay: 240ms;
    -webkit-animation-delay: 240ms;
    -ms-animation-delay: 240ms;
    -o-animation-delay: 240ms;
    animation-delay: 240ms;
}

.Control.win8loader .win8circle:nth-child(3) {
    -moz-animation-delay: 480ms;
    -webkit-animation-delay: 480ms;
    -ms-animation-delay: 480ms;
    -o-animation-delay: 480ms;
    animation-delay: 480ms;
}

.Control.win8loader .win8circle:nth-child(4) {
    -moz-animation-delay: 720ms;
    -webkit-animation-delay: 720ms;
    -ms-animation-delay: 720ms;
    -o-animation-delay: 720ms;
    animation-delay: 720ms;
}

.Control.win8loader .win8circle:nth-child(5) {
    -moz-animation-delay: 960ms;
    -webkit-animation-delay: 960ms;
    -ms-animation-delay: 960ms;
    -o-animation-delay: 960ms;
    animation-delay: 960ms;
}

.Control.ballIndic {
    opacity: 0.9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
    -ms-animation: spin .5s infinite linear;
    -o-animation: spin .5s infinite linear;
    animation: spin .5s infinite linear;
}

.ball1Indic {
    opacity: 0.9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50%;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
    -ms-animation: spinoff .5s infinite linear;
    -o-animation: spinoff .5s infinite linear;
    animation: spinoff .5s infinite linear;
}

.circleIndic {
    opacity: 0.9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
    -ms-animation: spinPulse 1s infinite linear;
    -o-animation: spinPulse 1s infinite linear;
    animation: spinPulse 1s infinite linear;
}

.circle1Indic {
    opacity: 0.9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50%;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
    -ms-animation: spinoffPulse 1s infinite linear;
    -o-animation: spinoffPulse 1s infinite linear;
    animation: spinoffPulse 1s infinite linear;
}
