.Button.buttonPaddingDownText,
.BitmapStateButton.buttonPaddingDownText {
    padding: 1px 0 0 1px;
}

.Button,
.TextButton {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    white-space: normal;
}

.ButtonCaption {
    text-overflow:ellipsis;
}