.Calendar {
    max-height: 148px;
    max-width: 187px;
    min-height: 148px;
    min-width: 187px;
    transform-style: preserve-3d;
}

.CalendarContent {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

.CalendarHeader {
    height: 21px;
    top: 0;
    left: 0;
    right: 0;
}

.CalendarPrevMonth {
    left: 0;
    top: 0;
    bottom: 0;
    font-family: jagui;
    width: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CalendarPrevMonth:before {
    content: "*";
}

.CalendarThisDay {
    left: 22px;
    top: 0;
    font-family: jagui;
    width: 21px;
    bottom: 0;
    font-size: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.CalendarThisDay:before {
    content: "3";
}

.CalendarNextMonth {
    left: 43px;
    top: 0;
    bottom: 0;
    font-family: jagui;
    width: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CalendarNextMonth:before {
    content: ")";
}

.CalendarThisMonth {
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 21px;
    font-weight: bold;
    width: 105px;
}

.CalendarWeekdays {
    left: 6px;
    right: 6px;
    height: 15px;
    top: 22px;
}

.CalendarWeekNum,
.CalendarWeekDay {
    position: relative;
    float: left;
    width: 23px;
    text-align: center;
    line-height: 16px;
    height: 100%;
    font-size: 8pt;
}

.CalendarWeekNum {
    display: none;
}

.Calendar.viewweeknum .CalendarWeekNum {
    width: 18px;
    display: block;
    opacity: 0.5;
}

.Calendar.viewweeknum .CalendarWeekDay,
.Calendar.viewweeknum .CalendarDay {
    width: 22px;
}

.CalendarWeeks {
    left: 6px;
    right: 6px;
    top: 38px;
    bottom: 0;
    height: auto;
}

.Calendar.viewweeknum .CalendarWeeks,
.Calendar.viewweeknum .CalendarWeekdays {
    left: 0;
    right: 0;
}

.CalendarWeek {
    left: 0;
    right: 0;
    height: 16px;
}

.CalendarFirstWeek {
    top: 0;
}

.CalendarSecondWeek {
    top: 16px;
}

.CalendarThirdWeek {
    top: 32px;
}

.CalendarFourthWeek {
    top: 48px;
}

.CalendarFifthWeek {
    top: 64px;
}

.CalendarSixthWeek {
    top: 80px;
}

.CalendarDay {
    position: relative;
    float: left;
    width: 23px;
    text-align: center;
    line-height: 16px;
    height: 100%;
    font-size: 8pt;
    background-repeat: no-repeat;
    background-position: center center;
}

.CalendarMonths,
.CalendarDecades,
.CalendarCenturies {
    top: 21px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    transform: scale(1.7);
    opacity: 0;
    transition: all linear 0.4s;
    display: grid;
    grid-template-columns: repeat(4, 1fr [col-start]);
    grid-template-rows: repeat(3, 1fr [row-start]);
}

.zoomOut {
    transform: scale(1);
    opacity: 1;
    z-index: 1;
}

.CalendarMDC {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.CalendarMDCx2 {
    line-height: 19px;
}