.Control.Calendar {
    max-height: 148px;
    max-width: 187px;
    min-height: 148px;
    min-width: 187px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.Control.CalendarContent {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

.Control.CalendarHeader {
    height: 21px;
    top: 0;
    left: 0;
    right: 0;
}

.Control.CalendarPrevMonth {
    left: 0;
    top: 0;
    bottom: 0;
    font-family: jagui;
    width: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Control.CalendarPrevMonth:before {
    content: "*";
}

.Control.CalendarThisDay {
    left: 22px;
    top: 0;
    font-family: jagui;
    width: 21px;
    bottom: 0;
    font-size: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.Control.CalendarThisDay:before {
    content: "3";
}

.Control.CalendarNextMonth {
    left: 43px;
    top: 0;
    bottom: 0;
    font-family: jagui;
    width: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Control.CalendarNextMonth:before {
    content: ")";
}

.Control.CalendarThisMonth {
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 21px;
    font-weight: bold;
    width: 105px;
}

.Control.CalendarWeekdays {
    left: 6px;
    right: 6px;
    height: 15px;
    top: 22px;
}

.Control.CalendarWeekNum,
.Control.CalendarWeekDay {
    position: relative;
    float: left;
    width: 23px;
    text-align: center;
    line-height: 16px;
    height: 100%;
    font-size: 8pt;
}

.Control.CalendarWeekNum {
    display: none;
}

.Control.Calendar.viewweeknum .Control.CalendarWeekNum {
    width: 18px;
    display: block;
    opacity: 0.5;
}

.Control.Calendar.viewweeknum .Control.CalendarWeekDay,
.Control.Calendar.viewweeknum .Control.CalendarDay {
    width: 22px;
}

.Control.CalendarWeeks {
    left: 6px;
    right: 6px;
    top: 38px;
    bottom: 0;
    height: auto;
}

.Control.Calendar.viewweeknum .Control.CalendarWeeks,
.Control.Calendar.viewweeknum .Control.CalendarWeekdays {
    left: 0;
    right: 0;
}

.Control.CalendarWeek {
    left: 0;
    right: 0;
    height: 16px;
}

.Control.CalendarFirstWeek {
    top: 0;
}

.Control.CalendarSecondWeek {
    top: 16px;
}

.Control.CalendarThirdWeek {
    top: 32px;
}

.Control.CalendarFourthWeek {
    top: 48px;
}

.Control.CalendarFifthWeek {
    top: 64px;
}

.Control.CalendarSixthWeek {
    top: 80px;
}

.Control.CalendarDay {
    position: relative;
    float: left;
    width: 23px;
    text-align: center;
    line-height: 16px;
    height: 100%;
    font-size: 8pt;
    background-repeat: no-repeat;
    background-position: center center;
}

.Control.CalendarMonths,
.Control.CalendarDecades,
.Control.CalendarCenturies {
    top: 21px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    transform: scale(1.7);
    opacity: 0;
    transition: all linear 0.4s;
    display: grid;
    grid-template-columns: repeat(4, 1fr [col-start]);
    grid-template-rows: repeat(3, 1fr [row-start]);
}

.Control.zoomOut {
    transform: scale(1);
    opacity: 1;
    z-index: 1;
}

.Control.CalendarMDC {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.Control.CalendarMDCx2 {
    line-height: 19px;
}

/*div.CalendarMonth,
div.CalendarDecades,
div.CalendarCenturies {
}

div.CalendarDecade {
}

div.CalendarCentury {
}
*/