.Control.Checkbox {
    box-shadow: none;
    padding-left: 20px;
    overflow: visible;
    display: flex;
    align-items: center;
}

.CheckboxInput {
    display: none;
}

.CheckboxCheck {
    box-shadow: none;
    left: 0;
    font-family: jagui;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CheckboxCheck:before,
.CheckboxCheck:before {
    content: "";
}
