.Checkbox {
    box-shadow: none;
    overflow: visible;
    display: flex;
    align-items: center;
}

.CheckboxInput {
    display: none;
}

.CheckboxCheck {
    box-shadow: none;
    font-family: jagui;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.CheckboxCheck:before,
.CheckboxCheck:before {
    content: "";
}
