.Control.Clock {
    display: flex;
    border-radius: 6px;
    flex-direction: column;
    z-index: 0;
}

.Control.Clock.countdown {
    padding: 5px 5px 0 5px;
}

    .Control.Clock.simple .Clock_digit {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 40pt;
    }

.Clock_digit {
    width: 28px;
    height: 50px;
}

.Clock_weekdays {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 3px 0;
}

.Control.Clock.countdown .Clock_weekdays {
    order: 1;
}

.Clock_day {
    padding: 0 5px;
    opacity: 0.2;
}

    .Clock_day.active,
    .Clock_alarm.active,
    .Clock_snooze.active {
        opacity: 1;
    }

    .Clock_alarm.active.on {
        animation-name: blinker;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

.Clock_meridian {
    align-self: flex-end;
    justify-self: flex-end;
    margin: 5px;
}

.Control.Clock.led .Clock_meridian,
.Control.Clock.led .Clock_alarm,
.Control.Clock.led .Clock_weekdays {
    filter: blur(0.75px);
}

.Clock_alarmarea {
    align-self: stretch;
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.Clock_alarm {
    width: 13px;
    height: 13px;
    position: relative;
    border-radius: 50%;
    margin: 5px;
    opacity: 0.2;
}

    .Clock_alarm:before,
    .Clock_alarm:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        top: -3px;
    }

    .Clock_alarm:before {
        left: -3px;
        border-right: solid 2px transparent;
        border-bottom: solid 2px transparent;
    }

    .Clock_alarm:after {
        right: -3px;
        border-left: solid 1px transparent;
        border-bottom: solid 1px transparent;
    }

.Clock_alarm_inner {
    position: absolute;
    width: 3px;
    height: 4px;
    top: 2px;
    left: 4px;
}

    .Clock_alarm_inner:before,
    .Clock_alarm_inner:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 4px;
    }

    .Clock_alarm_inner:before {
        left: -7px;
        top: 8px;
        transform-origin: right center;
        transform: rotate(45deg);
    }

    .Clock_alarm_inner:after {
        left: 2px;
        top: 8px;
        transform-origin: left center;
        transform: rotate(-45deg);
    }

.Clock_snooze {
    position: relative;
    border-radius: 50%;
    margin: 5px;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6pt;
    padding: 4px 0 0 3px;
}

    .Clock_snooze:before,
    .Clock_snooze:after {
        content: 'Z';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
    }

    .Clock_snooze:before {
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 8pt;
        font-weight: bold;
    }

    .Clock_snooze:after {
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 4pt;
    }

.Clock_digits {
    display: flex;
    margin-bottom: 3px;
}

.Clock_digit,
.Clock_dots {
    margin: 0 4px;
    text-align: left;
    position: relative;
}

.Clock_dots {
    width: 5px;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    align-items: center;
}

@keyframes blinker {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Clock_dots:before,
.Clock_dots:after {
    width: 5px;
    height: 5px;
    content: '';
    grid-area: 2 / 1 / 3 / 2;
}

.Control.Clock.led .Clock_dots:before,
.Control.Clock.led .Clock_dots:after {
    width: 7px;
    border-radius: 50%;
    filter: blur(0.75px);
}

.Clock_dots:after {
    grid-area: 3 / 1 / 4 / 2;
}

.Control.Clock.rotate .Clock_dots:before,
.Control.Clock.rotate .Clock_dots:after {
    border-radius: 50%;
}

.Clock_digit_d1,
.Clock_digit_d2,
.Clock_digit_d3,
.Clock_digit_d4,
.Clock_digit_d5,
.Clock_digit_d6,
.Clock_digit_d7 {
    transform: scale(0.2);
    opacity: 0;
    position: absolute;
    transition: 0.25s;
}

.Clock_digit_d1,
.Clock_digit_d2,
.Clock_digit_d3 {
    height: 5px;
    width: 26px;
    top: 0;
    left: 1px;
}

.Clock_digit_d2 {
    top: 24px;
}

.Clock_digit_d3 {
    top: 48px;
}

.Clock_digit_d4,
.Clock_digit_d5,
.Clock_digit_d6,
.Clock_digit_d7 {
    width: 5px;
    height: 24px;
    top: 2px;
    left: 0;
}

.Clock_digit_d5,
.Clock_digit_d7 {
    left: auto;
    right: 0;
}

.Clock_digit_d6,
.Clock_digit_d7 {
    top: 27px;
}

.Control.Clock.digital .Clock_digit_d1 {
    clip-path: polygon(0 0, 26px 0, 21px 5px, 5px 5px);
}

.Control.Clock.digital .Clock_digit_d2 {
    clip-path: polygon(5px 0, 21px 0, 26px 2px, 21px 5px, 5px 5px, 0 2px);
}

.Control.Clock.digital .Clock_digit_d3 {
    clip-path: polygon(0 5px, 5px 0, 21px 0, 26px 5px);
}

.Control.Clock.digital .Clock_digit_d4,
.Control.Clock.digital .Clock_digit_d6 {
    clip-path: polygon(0 0, 5px 5px, 5px 19px, 0 24px);
}

.Control.Clock.digital .Clock_digit_d5,
.Control.Clock.digital .Clock_digit_d7 {
    clip-path: polygon(5px 0, 0 5px, 0 19px, 5px 24px);
}

.Control.Clock.led .Clock_digit * {
    border-radius: 50%;
    filter: blur(0.75px);
    opacity: 0.15;
    transform: scale(1);
}

.Control.Clock.led .Clock_digit_d1,
.Control.Clock.led .Clock_digit_d2,
.Control.Clock.led .Clock_digit_d3 {
    width: 20px;
    left: 4px;
}

.Control.Clock.led .Clock_digit_d4,
.Control.Clock.led .Clock_digit_d5,
.Control.Clock.led .Clock_digit_d6,
.Control.Clock.led .Clock_digit_d7 {
    height: 20px;
    top: 4px;
}

.Control.Clock.led .Clock_digit_d6,
.Control.Clock.led .Clock_digit_d7 {
    top: 28px;
}

.Control.Clock .Clock_zero .Clock_digit_d1,
.Control.Clock .Clock_zero .Clock_digit_d3,
.Control.Clock .Clock_zero .Clock_digit_d4,
.Control.Clock .Clock_zero .Clock_digit_d5,
.Control.Clock .Clock_zero .Clock_digit_d6,
.Control.Clock .Clock_zero .Clock_digit_d7,
.Control.Clock .Clock_one .Clock_digit_d5,
.Control.Clock .Clock_one .Clock_digit_d7,
.Control.Clock .Clock_two .Clock_digit_d1,
.Control.Clock .Clock_two .Clock_digit_d2,
.Control.Clock .Clock_two .Clock_digit_d3,
.Control.Clock .Clock_two .Clock_digit_d5,
.Control.Clock .Clock_two .Clock_digit_d6,
.Control.Clock .Clock_three .Clock_digit_d1,
.Control.Clock .Clock_three .Clock_digit_d2,
.Control.Clock .Clock_three .Clock_digit_d3,
.Control.Clock .Clock_three .Clock_digit_d5,
.Control.Clock .Clock_three .Clock_digit_d7,
.Control.Clock .Clock_four .Clock_digit_d4,
.Control.Clock .Clock_four .Clock_digit_d5,
.Control.Clock .Clock_four .Clock_digit_d2,
.Control.Clock .Clock_four .Clock_digit_d7,
.Control.Clock .Clock_five .Clock_digit_d1,
.Control.Clock .Clock_five .Clock_digit_d2,
.Control.Clock .Clock_five .Clock_digit_d3,
.Control.Clock .Clock_five .Clock_digit_d4,
.Control.Clock .Clock_five .Clock_digit_d7,
.Control.Clock .Clock_six .Clock_digit_d1,
.Control.Clock .Clock_six .Clock_digit_d2,
.Control.Clock .Clock_six .Clock_digit_d3,
.Control.Clock .Clock_six .Clock_digit_d4,
.Control.Clock .Clock_six .Clock_digit_d6,
.Control.Clock .Clock_six .Clock_digit_d7,
.Control.Clock .Clock_seven .Clock_digit_d1,
.Control.Clock .Clock_seven .Clock_digit_d5,
.Control.Clock .Clock_seven .Clock_digit_d7,
.Control.Clock .Clock_eight .Clock_digit_d1,
.Control.Clock .Clock_eight .Clock_digit_d2,
.Control.Clock .Clock_eight .Clock_digit_d3,
.Control.Clock .Clock_eight .Clock_digit_d4,
.Control.Clock .Clock_eight .Clock_digit_d5,
.Control.Clock .Clock_eight .Clock_digit_d6,
.Control.Clock .Clock_eight .Clock_digit_d7,
.Control.Clock .Clock_nine .Clock_digit_d1,
.Control.Clock .Clock_nine .Clock_digit_d2,
.Control.Clock .Clock_nine .Clock_digit_d3,
.Control.Clock .Clock_nine .Clock_digit_d4,
.Control.Clock .Clock_nine .Clock_digit_d5,
.Control.Clock .Clock_nine .Clock_digit_d7 {
    opacity: 1;
}

.Control.Clock.digital .Clock_digits * {
    transform: scale(1);
}

.Control.Clock.flip .Clock_digit {
    border-radius: 3px;
}

.Clock_digit_flip {
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: visible;
}

.Clock_digit_flip_p {
    display: block;
    height: 100%;
    perspective: 100px;
}

.Clock_digit_flip:first-child {
    z-index: 2;
}

.Control.Clock_digit_flip_up,
.Control.Clock_digit_flip_down {
    z-index: 1;
    left: 0;
    right: 0;
    height: 50%;
    overflow: hidden;
}

.Control.Clock_digit_flip_up {
    transform-origin: 50% 100%;
    top: 0;
}

    .Control.Clock_digit_flip_up:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
        right: 0;
        height: 1px;
    }

.Control.Clock_digit_flip_down {
    transform-origin: 50% 0%;
    bottom: 0;
}

.Control.Clock_digit_flip_inn {
    left: 0;
    z-index: 1;
    right: 0;
    height: 200%;
    text-align: center;
    border-radius: 3px;
    font-size: 29pt;
}

.Control.Clock_digit_flip_up * {
    top: 0;
}

.Control.Clock_digit_flip_down * {
    bottom: 0;
}

.Control.Clock_digit_flip_up:before,
.Control.Clock_digit_flip_down:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.Control.Clock.flip .Clock_dots:before,
.Control.Clock.flip .Clock_dots:after {
    display: none;
}


.Clock_digit_flip.before {
    z-index: 3;
}

    .Clock_digit_flip.before .Control.Clock_digit_flip_up {
        z-index: 2;
        animation: turn2 .5s linear both;
    }

.Clock_digit_flip.active {
    animation: asd .5s .5s linear both;
    z-index: 2;
}

    .Clock_digit_flip.active .Control.Clock_digit_flip_down {
        z-index: 2;
        animation: turn .5s .5s linear both;
    }


.Clock_digit_flip.before .Control.Clock_digit_flip_up:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, 1) 100%);
    animation: show .5s linear both;
}

.Clock_digit_flip.active .Control.Clock_digit_flip_up:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, 1) 100%);
    animation: hide .5s .3s linear both;
}

.Clock_digit_flip.before .Control.Clock_digit_flip_down:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .1) 100%);
    animation: show .5s linear both;
}

.Clock_digit_flip.active .Control.Clock_digit_flip_down:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .1) 100%);
    animation: hide .5s .3s linear both;
}


@keyframes asd {
    0% {
        z-index: 2;
    }

    5% {
        z-index: 4;
    }

    100% {
        z-index: 4;
    }
}

@keyframes turn {
    0% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0);
    }
}

@keyframes turn2 {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(-90deg);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
