.DropDownCalendar {
    min-width: 80px;
}

.DropDownCalendarCaption {
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    display: flex;
    margin: 2px;
}

.PopupCalendar {
    border-radius: 6px;
}

.PopupCalendar .Calendar {
    position: relative;
}