@import url(timepanel.css);
@import url(dropdownlistbox.css);
.DropDownTimePanel {
    max-width: 85px;
    min-width: 85px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.DropDownTimePanelCaption {
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}
