div.DropDownTimePanel {
    max-width: 85px;
    min-width: 85px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

div.DropDownTimePanelCaption {
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.PopupTimePanel div.TimePanel {
    position: relative;
}
