.Control.ListBox {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.HListBoxItem {
    width: 32px;
    text-align: left;
}

.VListBoxItem {
    height: 16px;
    text-align: left;
    padding-left: 2px;
}

.ListBoxItem {
    display: flex;
    align-items: center;
}

.ListBoxItem .icon {
    width: 16px;
    margin: 0 2px;
    padding: 0;
    background-position: center center;
    align-self: stretch;
}
