.Control.ListBox {
    display: flex;
    flex-direction: column;
}

    .Control.ListBox.orientation-horizontal {
        flex-direction: row;
    }

    .HListBoxItem {
    text-align: left;
}

.VListBoxItem {
    text-align: left;
    padding-left: 2px;
}

.ListBoxItem {
    display: flex;
    align-items: center;
}

.ListBoxItem .icon {
    width: 16px;
    margin: 0 2px;
    padding: 0;
    background-position: center center;
    align-self: stretch;
}
