/*@import url('checkbox.css');*/
.ListBox {
    display: flex;
    flex-direction: column;
}

.listBoxScroller {
    position: absolute;
    width: 1px;
    top: 0;
    left: 0;
    height: 1px;
    z-index: -1;
}

    .ListBox.orientation-horizontal {
        flex-direction: row;
    }

        .ListBox.orientation-horizontal:hover .HListBoxItem {
            padding-bottom: 0;
        }

.HListBoxItem {
    text-align: left;
    top: 0;
    bottom:0;
    padding-bottom: 8px;
}

.VListBoxItem {
    text-align: left;
    left: 0;
    right: 0;
    padding-left: 2px;
}

.ListBoxItem {
    display: flex;
    align-items: center;
}

    .ListBoxItem .icon {
        width: 16px;
        margin: 0 2px;
        padding: 0;
        background-position: center center;
        align-self: stretch;
    }

.ListBoxItem .CheckboxCheck {
    position: relative;
    margin-right: 2px;
}
