.Memo {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.Memo textarea {
    margin: 0;
    border: none;
    resize: none;
    padding: 0;
    white-space: pre;
    word-wrap: normal;
    position: relative;
    flex: 1;
    overflow: auto;
}
