div.PasswordTextBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

input.PasswordTextBoxInput {
}

.PasswordTextBoxButton {
    position: relative;
    width: 20px;
}

div.PasswordTextBox[data-length="0"] button.PasswordTextBoxButton {
    display: none;
}

div.PasswordTextBox[data-length="0"] input.PasswordTextBoxInput {
}
