@import url(textbox.css);
.PasswordTextBoxButton {
    position: relative;
    width: 20px;
}

    .PasswordTextBox.showComplexityIndicator .ComplexityIndicator {
        display: block;
    }

.ComplexityIndicator {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: none;
    background-repeat: no-repeat;
}
