@import url(checkbox.css);
.RadioButton {
    box-shadow: none;
    overflow: visible;
    display: flex;
    align-items: center;
}

.RadioButtonInput {
    display: none;
}

.RadioButtonCheck {
    box-shadow: none;
    font-family: jagui;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
