.RadioButton {
    box-shadow: none;
    padding-left: 20px;
    overflow: visible;
    display: flex;
    align-items: center;
}

.RadioButtonInput {
    display: none;
}

.RadioButtonCheck {
    box-shadow: none;
    left: 0;
    font-family: jagui;
    display: flex;
    align-items: center;
    justify-content: center;
}
