.Control.Rating,
.Control.Rating:before {
    background-size: auto auto;
    background-position: left top;
}

    .Control.Rating.orientation-horizontal {
        width: 90px;
        height: 16px;
    }

        .Control.Rating.orientation-horizontal,
        .RatingProgress.orientation-horizontal,
        .Control.Rating.orientation-horizontal.disabled {
            background-repeat: repeat-x;
        }

.RatingProgress {
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
}

    .Control.Rating.orientation-vertical {
        width: 90px;
        height: 16px;
    }

        .Control.Rating.orientation-vertical,
        .RatingProgress.orientation-vertical,
        .Control.Rating.orientation-vertical.disabled {
            background-repeat: repeat-y;
        }


.Control.Rating {
    background-image: var(--emptyImg);
}

.RatingProgress {
    background-image: var(--emptyImg);
}

    .RatingProgress:hover {
        background-image: var(--emptyImg);
    }
