svg.svgShape {
    width: 100%;
    height: 100%;
    overflow: visible;
}

div.Line {
}

div.Rectangle {
}

div.RoundRect {
    overflow: visible;
}

div.Ellipse {
    border-radius: 50%;
    overflow: visible;
}

div.Circle {
    overflow: visible;
}

div.Path {
    overflow: visible;
}

div.Pie {
    overflow: visible;
}

div.Chord {
    overflow: visible;
}

div.Arc {
    overflow: visible;
}

div.Polygon {
    overflow: visible;
}

div.Star {
    overflow: visible;
}
