.Slider:not(.range) .SliderRange {
    display: none;
}

.Slider {
    overflow: visible;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 22px;
    background-size: 1px 100% !important;
}

    .Slider.orientation-vertical {
        min-height: auto;
        min-width: 22px;
        background-size: 100% 1px !important;
    }

.SliderInput {
    pointer-events: all;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: 3;
    opacity: 0;
    width: calc(100% + 14px);
    height: auto;
}

.Slider.range .SliderInput {
    pointer-events: none;
}

.SliderInput::-ms-track {
    pointer-events: none;
    -webkit-appearance: none;
    background: transparent;
    border: transparent;
}

.SliderInput::-moz-range-track {
    pointer-events: none;
    -moz-appearance: none;
    background: transparent;
    border: transparent;
}

.SliderInput:focus::-webkit-slider-runnable-track {
    pointer-events: none;
    background: transparent;
    border: transparent;
    -webkit-appearance: none;
}

.SliderInput:focus {
    outline: none;
}

.SliderInput::-ms-thumb {
    pointer-events: all;
    border-radius: 0;
    border: 0 none;
    background: red;
}

.SliderInput::-moz-range-thumb {
    pointer-events: all;
    border-radius: 0;
    border: 0 none;
    background: red;
}

.SliderInput::-webkit-slider-thumb {
    pointer-events: all;
    border-radius: 0;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
}

.SliderInput::-ms-fill-lower,
.SliderInput::-ms-fill-upper {
    background: transparent;
    border: 0 none;
}

.SliderInput::-ms-tooltip {
    display: none;
}

.SliderInput.orientation-vertical {
    transform: rotate(90deg);
    height: calc(100% + 14px);
    width: 100%;
}

.SliderThumb {
    left: 0;
    top: 0;
    z-index: 2;
}

.Slider.orientation-horizontal .SliderThumb {
    top: 4px;
}

.Slider.orientation-vertical .SliderThumb {
    left: 4px;
}

.SliderTooltip {
    z-index: 3;
    visibility: hidden;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    overflow: visible;
}

    .SliderTooltip.orientation-horizontal {
        left: 0;
    }

    .SliderTooltip.orientation-vertical {
        top: 0;
        margin-top: -10px;
        left: 110%;
    }

    .SliderTooltip.orientation-horizontal.bottom {
        top: 25px;
    }

    .SliderTooltip:after {
        position: absolute;
        content: '';
        top: 100%;
    }

    .SliderTooltip.orientation-vertical {
        /*transform: rotate(-90deg) translateY(0) perspective(1px);
    transform-origin: 0 center;
    top: -10px;*/
    }

        .SliderTooltip.orientation-vertical:after {
            /*top: auto;
    right: 96%;*/
        }

        .SliderTooltip.orientation-vertical.bottom {
            /*top: 15px;
    transform: rotate(-90deg) translateX(-100%) perspective(1px);
    margin-left: -1px;*/
        }


.Slider.normal .SliderInput:last-of-type,
.Slider.normal .SliderThumb:last-of-type,
.Slider.normal .SliderTooltip:last-of-type {
    display: none;
}

.Slider.showTooltips:hover .SliderTooltip {
    visibility: visible;
}
