.SliderRange {
    display: none;
}

.Slider {
    overflow: visible;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 22px;
    background-size: 1px 100% !important;
    padding: 8px 4px;
}

    .Slider.orientation-vertical {
        transform: rotate(90deg);
        transform-origin: center center;
    }

.SliderInput {
    pointer-events: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: 3;
    opacity: 0;
    width: 100%;
}

    .SliderInput::-ms-track,
    .SliderInput::-moz-range-track,
    .SliderInput:focus::-webkit-slider-runnable-track {
        -moz-appearance: none;
        -webkit-appearance: none;
        background: transparent;
        border: transparent;
    }

    .SliderInput:focus {
        outline: none;
    }

    .SliderInput::-ms-thumb,
    .SliderInput::-moz-range-thumb,
    .SliderInput::-webkit-slider-thumb {
        pointer-events: all;
        /*width: 28px;
        height: 28px;*/
        border-radius: 0px;
        border: 0 none;
        background: red;
    }

    .SliderInput::-ms-fill-lower,
    .SliderInput::-ms-fill-upper {
        background: transparent;
        border: 0 none;
    }

    .SliderInput::-ms-tooltip {
        display: none;
    }

.SliderThumb {
    z-index: 2;
    margin-left: -11px;
}

.SliderTooltip {
    z-index: 3;
    opacity: 0;
    top: -20px;
    margin-left: -11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .SliderTooltip:after {
        position: absolute;
        content: '';
        top: 100%;
    }

    .Slider.normal .SliderTooltip:last-of-type {
        display: none;
    }

.Slider:hover .SliderTooltip {
    opacity: 1;
}