@import url(button.css);
@import url(buttonglyph.css);
.SpeedButton {
    overflow: hidden;
    white-space: nowrap;
}

.SpeedButtonCaption {
    margin: 0;
    overflow: hidden;
    text-align: center;
    transform: none;
    position: static;
}