/*@import url(textbox.css);
@import url(button.css);*/
.SpinBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.SpinBoxInput {
    flex: 1;
    text-align: center;
    position: static;
    order: 2;
}

.SpinBoxMinusBtn {
    position: relative;
    order: 1;
    width: 16px !important;
    font-family: Jagui;
    font-size: 4pt;
    margin: 1px 0 1px 1px;
}

.SpinBoxMinusBtn:before,
.SpinBoxPlusBtn:before {
    content: "";
}

.SpinBoxPlusBtn {
    position: relative;
    order: 3;
    width: 16px !important;
    font-family: Jagui;
    font-size: 4pt;
    margin: 1px 1px 1px 0;
}