.TreeView {
    display: flex;
    flex-direction: column;
}

.treeViewScroller {
    position: absolute;
    width: 1px;
    top: 0;
    left: 0;
    height: 1px;
    z-index: -1;
}

.TreeViewItem {
    display: flex;
    align-items: center;
}

    .TreeViewItem .icon {
        width: 16px;
        margin: 0 2px;
        padding: 0;
        background-position: center center;
        align-self: stretch;
    }

.TreeViewRoot {
    display: inline-block;
    width: 10px;
    font-family: JaGui;
    font-size: 4pt;
    margin-right: 2px;
}

.TVIHasChild {
    text-align: center;
}
