.carbon.CircularProgressBar,
.carbon.CircularProgressBar:after {
    border: 1px solid #303030;
}

.carbon.CircularProgressBar svg circle.CircularProgressBar_back {
    stroke: #4A4A4A;
}

.carbon.CircularProgressBar svg circle.CircularProgressBar_progress {
    stroke: #B48625;
}
