@import url(../../../../css/components/extended/textboxclearbtn.css);
@import url(textboxbtn.css);
.carbon.TextBoxClearBtnButton {
    border: none;
    background: none;
    font-family: jagui;
    font-size: 13pt;
}
