@import url(../../../../css/components/dialogs/colordialog.css);
@import url(commondialog.css);
@import url(../color/colorpanel.css);
@import url(../containers/pagecontrol.css);
@import url(../common/label.css);
@import url(../extended/textboxbtn.css);.carbon.ColorDlg .carbon.TabSheet.selected {
    height: 17px;
    margin-top: 3px;
    padding-top: 0;
    color: #303030;
    background-image: none;
    background-color: #F69E2D;
}

.carbon.ColorDlg .carbon.TabControl.focused .carbon.Tab.selected {
    color: #303030;
}

.carbon.ColorDlg .carbon.TabSheet {
    padding-top: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.carbon.ColorDlg .carbon.Tab.selected {
    border-bottom: 1px solid #303030;
}

.carbon.ColorDlg .carbon.TabSheet:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.carbon.ColorDlg .carbon.TabSheet:not(:first-child):not(:last-child) {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.carbon.ColorDlg .carbon.TabSheet:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}