.carbon.PopupButton,
.carbon.PopupButton.disabled:hover {
  border-radius: 3px;
  border: 1px solid #222;
  background-image: linear-gradient(to bottom,#505050 0,#303030 100%);
}

.carbon.PopupButton.stayspressed.pressed,
.carbon.PopupButton.stayspressed.pressed:hover {
  background-color: #F5AB28;
  background-image: none;
  color: #000;
}

.carbon.PopupButton:hover {
  background-image: linear-gradient(to bottom,#707070 0,#303030 100%);
}

.carbon.PopupButton.pressed {
  background-image: linear-gradient(to bottom,#404040 0,#303030 100%);
}

.carbon.PopupButton.focused {
  box-shadow: 0 0 6px #F69E2D;
}
